In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import math

In [23]:
historical_transaction_data = pd.read_csv('Historical-transaction-data.csv')
historical_transaction_data

,item_description,transaction_date,invoice_id,customer_id,shop_id,item_price,quantity_sold
0,ORANGE BARLEY 1.5L,2021-12-11T00:00:00.000Z,147.0,BGXA,SHOP008,220,2
1,GINGER BEER 1.5L,2021-10-17T00:00:00.000Z,371.0,IA25,SHOP112,220,2
2,TONIC PET 500ML,2021-12-13T00:00:00.000Z,484.0,VN7V,SHOP008,160,2
3,CREAM SODA 1L,2021-12-13T00:00:00.000Z,484.0,VN7V,SHOP008,150,2
4,STRAWBERRY MILK 180ML,2021-10-23T00:00:00.000Z,1310.0,7S00,SHOP112,210,5
...,...,...,...,...,...,...,...
473969,NECTO 1.5L,2021-12-09T00:00:00.000Z,NaN,X21A,SHOP056,440,3
473970,LEMONADE 1.5L,2021-12-02T00:00:00.000Z,NaN,LV2L,SHOP018,220,2
473971,FIT O ORANGE 200ML,2021-11-19T00:00:00.000Z,NaN,VC4O,SHOP077,210,4
473972,CREAM SODA 1.5L,2021-12-03T00:00:00.000Z,NaN,MSBQ,SHOP077,440,3
473973,CREAM SODA APPLE POP 1L,2021-12-03T00:00:00.000Z,NaN,MSBQ,SHOP077,150,1

In [24]:
historical_transaction_data['year'] = pd.DatetimeIndex(historical_transaction_data['transaction_date']).year
historical_transaction_data['month'] = pd.DatetimeIndex(historical_transaction_data['transaction_date']).month
historical_transaction_data['day'] = pd.DatetimeIndex(historical_transaction_data['transaction_date']).day
historical_transaction_data['earning'] = historical_transaction_data['item_price']*historical_transaction_data['quantity_sold']

In [25]:
historical_transaction_data

,item_description,transaction_date,invoice_id,customer_id,shop_id,item_price,quantity_sold,year,month,day,earning
0,ORANGE BARLEY 1.5L,2021-12-11T00:00:00.000Z,147.0,BGXA,SHOP008,220,2,2021,12,11,440
1,GINGER BEER 1.5L,2021-10-17T00:00:00.000Z,371.0,IA25,SHOP112,220,2,2021,10,17,440
2,TONIC PET 500ML,2021-12-13T00:00:00.000Z,484.0,VN7V,SHOP008,160,2,2021,12,13,320
3,CREAM SODA 1L,2021-12-13T00:00:00.000Z,484.0,VN7V,SHOP008,150,2,2021,12,13,300
4,STRAWBERRY MILK 180ML,2021-10-23T00:00:00.000Z,1310.0,7S00,SHOP112,210,5,2021,10,23,1050
...,...,...,...,...,...,...,...,...,...,...,...
473969,NECTO 1.5L,2021-12-09T00:00:00.000Z,NaN,X21A,SHOP056,440,3,2021,12,9,1320
473970,LEMONADE 1.5L,2021-12-02T00:00:00.000Z,NaN,LV2L,SHOP018,220,2,2021,12,2,440
473971,FIT O ORANGE 200ML,2021-11-19T00:00:00.000Z,NaN,VC4O,SHOP077,210,4,2021,11,19,840
473972,CREAM SODA 1.5L,2021-12-03T00:00:00.000Z,NaN,MSBQ,SHOP077,440,3,2021,12,3,1320
473973,CREAM SODA APPLE POP 1L,2021-12-03T00:00:00.000Z,NaN,MSBQ,SHOP077,150,1,2021,12,3,150

In [26]:
items = historical_transaction_data.item_description.dropna().unique()
items,historical_transaction_data.item_description.dropna().nunique()

(array(['ORANGE BARLEY 1.5L', 'GINGER BEER 1.5L', 'TONIC PET 500ML',
        'CREAM SODA 1L', 'STRAWBERRY MILK 180ML', 'CREAM SODA 1.5L',
        'TWISTEE APPLE 1L', 'FIT O MIXED FRUIT 200ML', 'SODA PET 1.5L',
        'FIT O MIXED FRUIT 1L', 'KIK COLA 1L', 'LEMONADE 500ML',
        'FIT O ORANGE 1L', 'NECTO 1.5L', 'LEMONADE 1.5L', 'GINGER BEER 1L',
        'FIT O MANGO 200ML', 'FIT O MANGO 1L', 'CREAM SODA 500ML',
        'FIT O ORANGE 200ML', 'CREAM SODA APPLE POP 1L',
        'BOTTLED DRINKING WATER 500ML', 'SODA 500ML', 'GINGER BEER 500ML',
        'SODA 1L', 'NECTO 500ML', 'ORANGE CRUSH 500ML',
        'BOTTLED DRINKING WATER 1.5L', 'NECTO 1L',
        'GINGER BEER SUGAR FREE 500ML', 'ORANGE CRUSH 1.5L',
        'DRY GINGER ALE PET 500ML', 'LEMONADE 1L', 'ORANGE CRUSH 1L',
        'GINGER BEER 400ML', 'CHOCOLATE MILK 180ML', 'LIME CRUSH JUICE 1L'],
       dtype=object),
 37)

In [27]:
store_info = pd.read_csv('Store-info.csv')
shops = store_info.shop_id.unique()
shops,store_info.shop_id.nunique()

(array(['SHOP047', 'SHOP009', 'SHOP083', 'SHOP117', 'SHOP042', 'SHOP034',
        'SHOP100', 'SHOP057', 'SHOP098', 'SHOP123', 'SHOP116', 'SHOP005',
        'SHOP065', 'SHOP104', 'SHOP091', 'SHOP015', 'SHOP062', 'SHOP084',
        'SHOP032', 'SHOP041', 'SHOP051', 'SHOP066', 'SHOP088', 'SHOP006',
        'SHOP120', 'SHOP036', 'SHOP027', 'SHOP011', 'SHOP077', 'SHOP069',
        'SHOP016', 'SHOP106', 'SHOP031', 'SHOP105', 'SHOP118', 'SHOP127',
        'SHOP095', 'SHOP060', 'SHOP067', 'SHOP071', 'SHOP073', 'SHOP035',
        'SHOP021', 'SHOP103', 'SHOP053', 'SHOP085', 'SHOP063', 'SHOP048',
        'SHOP055', 'SHOP125', 'SHOP014', 'SHOP008', 'SHOP089', 'SHOP075',
        'SHOP020', 'SHOP086', 'SHOP026', 'SHOP068', 'SHOP090', 'SHOP022',
        'SHOP052', 'SHOP039', 'SHOP003', 'SHOP037', 'SHOP059', 'SHOP043',
        'SHOP028', 'SHOP099', 'SHOP033', 'SHOP013', 'SHOP058', 'SHOP113',
        'SHOP126', 'SHOP040', 'SHOP025', 'SHOP082', 'SHOP111', 'SHOP072',
        'SHOP078', 'SHOP112', 'SHOP094', 'SHOP018', 'SHOP122', 'SHOP017',
        'SHOP045', 'SHOP007', 'SHOP119', 'SHOP001', 'SHOP054', 'SHOP102',
        'SHOP115', 'SHOP079', 'SHOP049', 'SHOP121', 'SHOP010', 'SHOP124',
        'SHOP012', 'SHOP093', 'SHOP004', 'SHOP101', 'SHOP046', 'SHOP024',
        'SHOP023', 'SHOP097', 'SHOP044', 'SHOP030', 'SHOP038', 'SHOP029',
        'SHOP096', 'SHOP092', 'SHOP081', 'SHOP076', 'SHOP080', 'SHOP074',
        'SHOP107', 'SHOP108', 'SHOP019', 'SHOP002', 'SHOP114', 'SHOP087',
        'SHOP050', 'SHOP061', 'SHOP056', 'SHOP070'], dtype=object),
 124)

In [6]:
for shop_id in shops:
    # print(shop_id)
    header_lst_item_price = ('shop_id',)
    for i in items:
        # print('i',i)
        # for month_ in range(10,13):
            # print(day_)
            # print(i+'-2021/'+str(month_)+'/'+str(day_))
            # a = historical_transaction_data.loc[historical_transaction_data.shop_id == shop_id]
            # b = a.loc[a.item_description == i]
            # c = b.loc[b.date == datetime(2021,month_,day_).date()]
        header_lst_item_price = header_lst_item_price + ( i+' item_price',)

In [7]:
header_lst_item_price

('shop_id',
 'ORANGE item_price',
 'GINGER item_price',
 'TONIC item_price',
 'CREAM item_price',
 'MILK item_price',
 'APPLE item_price',
 'MIXED item_price',
 'SODA item_price',
 'COLA item_price',
 'LEMONADE item_price',
 'NECTO item_price',
 'MANGO item_price',
 'NOTAVAILABLE item_price',
 'WATER item_price')

In [34]:
for shop_id in shops:
    # print(shop_id)
    header_lst_quantity_sold = ('shop_id',)
    for i in items:
        # print('i',i)
        for month_ in range(10,13):
            # print(day_)
            # print(i+'-2021/'+str(month_)+'/'+str(day_))
            # a = historical_transaction_data.loc[historical_transaction_data.shop_id == shop_id]
            # b = a.loc[a.item_description == i]
            # c = b.loc[b.date == datetime(2021,month_,day_).date()]
            header_lst_quantity_sold = header_lst_quantity_sold + ( i+' '+str(month_)+' quantity_sold',)

In [35]:
header_lst_quantity_sold

('shop_id',
 'ORANGE BARLEY 1.5L 10 quantity_sold',
 'ORANGE BARLEY 1.5L 11 quantity_sold',
 'ORANGE BARLEY 1.5L 12 quantity_sold',
 'GINGER BEER 1.5L 10 quantity_sold',
 'GINGER BEER 1.5L 11 quantity_sold',
 'GINGER BEER 1.5L 12 quantity_sold',
 'TONIC PET 500ML 10 quantity_sold',
 'TONIC PET 500ML 11 quantity_sold',
 'TONIC PET 500ML 12 quantity_sold',
 'CREAM SODA 1L 10 quantity_sold',
 'CREAM SODA 1L 11 quantity_sold',
 'CREAM SODA 1L 12 quantity_sold',
 'STRAWBERRY MILK 180ML 10 quantity_sold',
 'STRAWBERRY MILK 180ML 11 quantity_sold',
 'STRAWBERRY MILK 180ML 12 quantity_sold',
 'CREAM SODA 1.5L 10 quantity_sold',
 'CREAM SODA 1.5L 11 quantity_sold',
 'CREAM SODA 1.5L 12 quantity_sold',
 'TWISTEE APPLE 1L 10 quantity_sold',
 'TWISTEE APPLE 1L 11 quantity_sold',
 'TWISTEE APPLE 1L 12 quantity_sold',
 'FIT O MIXED FRUIT 200ML 10 quantity_sold',
 'FIT O MIXED FRUIT 200ML 11 quantity_sold',
 'FIT O MIXED FRUIT 200ML 12 quantity_sold',
 'SODA PET 1.5L 10 quantity_sold',
 'SODA PET 1.5L 11 quantity_sold',
 'SODA PET 1.5L 12 quantity_sold',
 'FIT O MIXED FRUIT 1L 10 quantity_sold',
 'FIT O MIXED FRUIT 1L 11 quantity_sold',
 'FIT O MIXED FRUIT 1L 12 quantity_sold',
 'KIK COLA 1L 10 quantity_sold',
 'KIK COLA 1L 11 quantity_sold',
 'KIK COLA 1L 12 quantity_sold',
 'LEMONADE 500ML 10 quantity_sold',
 'LEMONADE 500ML 11 quantity_sold',
 'LEMONADE 500ML 12 quantity_sold',
 'FIT O ORANGE 1L 10 quantity_sold',
 'FIT O ORANGE 1L 11 quantity_sold',
 'FIT O ORANGE 1L 12 quantity_sold',
 'NECTO 1.5L 10 quantity_sold',
 'NECTO 1.5L 11 quantity_sold',
 'NECTO 1.5L 12 quantity_sold',
 'LEMONADE 1.5L 10 quantity_sold',
 'LEMONADE 1.5L 11 quantity_sold',
 'LEMONADE 1.5L 12 quantity_sold',
 'GINGER BEER 1L 10 quantity_sold',
 'GINGER BEER 1L 11 quantity_sold',
 'GINGER BEER 1L 12 quantity_sold',
 'FIT O MANGO 200ML 10 quantity_sold',
 'FIT O MANGO 200ML 11 quantity_sold',
 'FIT O MANGO 200ML 12 quantity_sold',
 'FIT O MANGO 1L 10 quantity_sold',
 'FIT O MANGO 1L 11 quantity_sold',
 'FIT O MANGO 1L 12 quantity_sold',
 'CREAM SODA 500ML 10 quantity_sold',
 'CREAM SODA 500ML 11 quantity_sold',
 'CREAM SODA 500ML 12 quantity_sold',
 'FIT O ORANGE 200ML 10 quantity_sold',
 'FIT O ORANGE 200ML 11 quantity_sold',
 'FIT O ORANGE 200ML 12 quantity_sold',
 'CREAM SODA APPLE POP 1L 10 quantity_sold',
 'CREAM SODA APPLE POP 1L 11 quantity_sold',
 'CREAM SODA APPLE POP 1L 12 quantity_sold',
 'BOTTLED DRINKING WATER 500ML 10 quantity_sold',
 'BOTTLED DRINKING WATER 500ML 11 quantity_sold',
 'BOTTLED DRINKING WATER 500ML 12 quantity_sold',
 'SODA 500ML 10 quantity_sold',
 'SODA 500ML 11 quantity_sold',
 'SODA 500ML 12 quantity_sold',
 'GINGER BEER 500ML 10 quantity_sold',
 'GINGER BEER 500ML 11 quantity_sold',
 'GINGER BEER 500ML 12 quantity_sold',
 'SODA 1L 10 quantity_sold',
 'SODA 1L 11 quantity_sold',
 'SODA 1L 12 quantity_sold',
 'NECTO 500ML 10 quantity_sold',
 'NECTO 500ML 11 quantity_sold',
 'NECTO 500ML 12 quantity_sold',
 'ORANGE CRUSH 500ML 10 quantity_sold',
 'ORANGE CRUSH 500ML 11 quantity_sold',
 'ORANGE CRUSH 500ML 12 quantity_sold',
 'BOTTLED DRINKING WATER 1.5L 10 quantity_sold',
 'BOTTLED DRINKING WATER 1.5L 11 quantity_sold',
 'BOTTLED DRINKING WATER 1.5L 12 quantity_sold',
 'NECTO 1L 10 quantity_sold',
 'NECTO 1L 11 quantity_sold',
 'NECTO 1L 12 quantity_sold',
 'GINGER BEER SUGAR FREE 500ML 10 quantity_sold',
 'GINGER BEER SUGAR FREE 500ML 11 quantity_sold',
 'GINGER BEER SUGAR FREE 500ML 12 quantity_sold',
 'ORANGE CRUSH 1.5L 10 quantity_sold',
 'ORANGE CRUSH 1.5L 11 quantity_sold',
 'ORANGE CRUSH 1.5L 12 quantity_sold',
 'DRY GINGER ALE PET 500ML 10 quantity_sold',
 'DRY GINGER ALE PET 500ML 11 quantity_sold',
 'DRY GINGER ALE PET 500ML 12 quantity_sold',
 'LEMONADE 1L 10 quantity_sold',
 'LEMONADE 1L 11 quantity_sold',
 'LEMONADE 1L 12 quantity_sold',
 'ORANGE CRUSH 1L 10 quantity_sold',
 'ORANGE CRUSH 1L 11 quantity_sold',
 'ORANGE CRUSH 1L 12 quantity_sold',
 'GINGER BEER 400ML 10 quantity_sold',
 'GINGER BEER 400ML 11 quantity_sold',
 'GINGER BEER 400ML 12 quantity_sold',
 'CHOCOLATE MILK 180ML 10 quantity_sold',
 'CHOCOLATE MILK 180ML 11 quantity_sold',
 'CHOCOLATE MILK 180ML 12 quantity_sold',
 'LIME CRUSH JUICE 1L 10 quantity_sold',
 'LIME CRUSH JUICE 1L 11 quantity_sold',
 'LIME CRUSH JUICE 1L 12 quantity_sold')

In [31]:
for shop_id in shops:
    # print(shop_id)
    header_lst_total_earning = ('shop_id',)
    for i in items:
        # print('i',i)
        for month_ in range(10,13):
            # print(day_)
            # print(i+'-2021/'+str(month_)+'/'+str(day_))
            # a = historical_transaction_data.loc[historical_transaction_data.shop_id == shop_id]
            # b = a.loc[a.item_description == i]
            # c = b.loc[b.date == datetime(2021,month_,day_).date()]
            header_lst_total_earning = header_lst_total_earning + ( i+' '+str(month_)+' total_earning',)

In [32]:
header_lst_total_earning

('shop_id',
 'ORANGE BARLEY 1.5L 10 total_earning',
 'ORANGE BARLEY 1.5L 11 total_earning',
 'ORANGE BARLEY 1.5L 12 total_earning',
 'GINGER BEER 1.5L 10 total_earning',
 'GINGER BEER 1.5L 11 total_earning',
 'GINGER BEER 1.5L 12 total_earning',
 'TONIC PET 500ML 10 total_earning',
 'TONIC PET 500ML 11 total_earning',
 'TONIC PET 500ML 12 total_earning',
 'CREAM SODA 1L 10 total_earning',
 'CREAM SODA 1L 11 total_earning',
 'CREAM SODA 1L 12 total_earning',
 'STRAWBERRY MILK 180ML 10 total_earning',
 'STRAWBERRY MILK 180ML 11 total_earning',
 'STRAWBERRY MILK 180ML 12 total_earning',
 'CREAM SODA 1.5L 10 total_earning',
 'CREAM SODA 1.5L 11 total_earning',
 'CREAM SODA 1.5L 12 total_earning',
 'TWISTEE APPLE 1L 10 total_earning',
 'TWISTEE APPLE 1L 11 total_earning',
 'TWISTEE APPLE 1L 12 total_earning',
 'FIT O MIXED FRUIT 200ML 10 total_earning',
 'FIT O MIXED FRUIT 200ML 11 total_earning',
 'FIT O MIXED FRUIT 200ML 12 total_earning',
 'SODA PET 1.5L 10 total_earning',
 'SODA PET 1.5L 11 total_earning',
 'SODA PET 1.5L 12 total_earning',
 'FIT O MIXED FRUIT 1L 10 total_earning',
 'FIT O MIXED FRUIT 1L 11 total_earning',
 'FIT O MIXED FRUIT 1L 12 total_earning',
 'KIK COLA 1L 10 total_earning',
 'KIK COLA 1L 11 total_earning',
 'KIK COLA 1L 12 total_earning',
 'LEMONADE 500ML 10 total_earning',
 'LEMONADE 500ML 11 total_earning',
 'LEMONADE 500ML 12 total_earning',
 'FIT O ORANGE 1L 10 total_earning',
 'FIT O ORANGE 1L 11 total_earning',
 'FIT O ORANGE 1L 12 total_earning',
 'NECTO 1.5L 10 total_earning',
 'NECTO 1.5L 11 total_earning',
 'NECTO 1.5L 12 total_earning',
 'LEMONADE 1.5L 10 total_earning',
 'LEMONADE 1.5L 11 total_earning',
 'LEMONADE 1.5L 12 total_earning',
 'GINGER BEER 1L 10 total_earning',
 'GINGER BEER 1L 11 total_earning',
 'GINGER BEER 1L 12 total_earning',
 'FIT O MANGO 200ML 10 total_earning',
 'FIT O MANGO 200ML 11 total_earning',
 'FIT O MANGO 200ML 12 total_earning',
 'FIT O MANGO 1L 10 total_earning',
 'FIT O MANGO 1L 11 total_earning',
 'FIT O MANGO 1L 12 total_earning',
 'CREAM SODA 500ML 10 total_earning',
 'CREAM SODA 500ML 11 total_earning',
 'CREAM SODA 500ML 12 total_earning',
 'FIT O ORANGE 200ML 10 total_earning',
 'FIT O ORANGE 200ML 11 total_earning',
 'FIT O ORANGE 200ML 12 total_earning',
 'CREAM SODA APPLE POP 1L 10 total_earning',
 'CREAM SODA APPLE POP 1L 11 total_earning',
 'CREAM SODA APPLE POP 1L 12 total_earning',
 'BOTTLED DRINKING WATER 500ML 10 total_earning',
 'BOTTLED DRINKING WATER 500ML 11 total_earning',
 'BOTTLED DRINKING WATER 500ML 12 total_earning',
 'SODA 500ML 10 total_earning',
 'SODA 500ML 11 total_earning',
 'SODA 500ML 12 total_earning',
 'GINGER BEER 500ML 10 total_earning',
 'GINGER BEER 500ML 11 total_earning',
 'GINGER BEER 500ML 12 total_earning',
 'SODA 1L 10 total_earning',
 'SODA 1L 11 total_earning',
 'SODA 1L 12 total_earning',
 'NECTO 500ML 10 total_earning',
 'NECTO 500ML 11 total_earning',
 'NECTO 500ML 12 total_earning',
 'ORANGE CRUSH 500ML 10 total_earning',
 'ORANGE CRUSH 500ML 11 total_earning',
 'ORANGE CRUSH 500ML 12 total_earning',
 'BOTTLED DRINKING WATER 1.5L 10 total_earning',
 'BOTTLED DRINKING WATER 1.5L 11 total_earning',
 'BOTTLED DRINKING WATER 1.5L 12 total_earning',
 'NECTO 1L 10 total_earning',
 'NECTO 1L 11 total_earning',
 'NECTO 1L 12 total_earning',
 'GINGER BEER SUGAR FREE 500ML 10 total_earning',
 'GINGER BEER SUGAR FREE 500ML 11 total_earning',
 'GINGER BEER SUGAR FREE 500ML 12 total_earning',
 'ORANGE CRUSH 1.5L 10 total_earning',
 'ORANGE CRUSH 1.5L 11 total_earning',
 'ORANGE CRUSH 1.5L 12 total_earning',
 'DRY GINGER ALE PET 500ML 10 total_earning',
 'DRY GINGER ALE PET 500ML 11 total_earning',
 'DRY GINGER ALE PET 500ML 12 total_earning',
 'LEMONADE 1L 10 total_earning',
 'LEMONADE 1L 11 total_earning',
 'LEMONADE 1L 12 total_earning',
 'ORANGE CRUSH 1L 10 total_earning',
 'ORANGE CRUSH 1L 11 total_earning',
 'ORANGE CRUSH 1L 12 total_earning',
 'GINGER BEER 400ML 10 total_earning',
 'GINGER BEER 400ML 11 total_earning',
 'GINGER BEER 400ML 12 total_earning',
 'CHOCOLATE MILK 180ML 10 total_earning',
 'CHOCOLATE MILK 180ML 11 total_earning',
 'CHOCOLATE MILK 180ML 12 total_earning',
 'LIME CRUSH JUICE 1L 10 total_earning',
 'LIME CRUSH JUICE 1L 11 total_earning',
 'LIME CRUSH JUICE 1L 12 total_earning')

In [10]:
lst_of_lsts_item_price = []
for shop_id in shops:
    # print(shop_id)
    lst = [shop_id]
    for i in items:
        # print('i',i)
        # for month_ in range(10,13):
                # print(month_)
                # print(i+'-2021/'+str(month_)+'/'+str(day_))
        a = historical_transaction_data.loc[historical_transaction_data.shop_id == shop_id]
        b = a.loc[a.item_description == i]
        c = b.loc[b.month == month_]
        k = c.item_price.mode()
        # print('k',k,'k[0]',k[0])
        if c.item_price.isna().all():
            k=0 
        else:
            k = c.item_price.mode(dropna=True)[0]
        lst.append(k)
                # print(k)
    print(lst)
    lst_of_lsts_item_price.append(lst)

['SHOP047', 220, 220, 160, 220, 140, 270, 60, 160, 120, 220, 220, 290, 70, 35]
['SHOP009', 290, 220, 160, 220, 140, 0, 70, 70, 120, 220, 220, 60, 70, 35]
['SHOP083', 220, 220, 160, 220, 70, 0, 290, 160, 120, 220, 220, 60, 70, 35]
['SHOP117', 220, 220, 160, 220, 70, 0, 290, 110, 120, 220, 220, 290, 70, 70]
['SHOP042', 220, 220, 160, 220, 70, 0, 290, 70, 120, 220, 220, 290, 70, 35]
['SHOP034', 220, 220, 320, 100, 70, 0, 60, 70, 120, 220, 220, 60, 70, 70]
['SHOP100', 220, 220, 150, 220, 70, 0, 270, 70, 120, 220, 220, 60, 70, 70]
['SHOP057', 290, 220, 160, 100, 70, 270, 290, 110, 120, 220, 220, 290, 140, 70]
['SHOP098', 220, 220, 160, 220, 70, 0, 70, 110, 120, 220, 220, 60, 70, 35]
['SHOP123', 220, 220, 160, 100, 70, 270, 60, 110, 120, 220, 220, 290, 70, 70]
['SHOP116', 290, 220, 160, 220, 70, 0, 290, 110, 120, 220, 220, 70, 70, 70]
['SHOP005', 290, 220, 160, 220, 140, 0, 70, 70, 120, 220, 220, 290, 70, 35]
['SHOP065', 220, 220, 160, 100, 70, 0, 60, 110, 120, 220, 220, 60, 70, 35]
['SHOP104', 290, 220, 160, 220, 70, 0, 70, 70, 120, 220, 220, 70, 70, 70]
['SHOP091', 220, 220, 160, 100, 140, 0, 290, 70, 120, 220, 220, 290, 140, 70]
['SHOP015', 220, 220, 320, 220, 70, 0, 60, 70, 120, 220, 220, 70, 70, 70]
['SHOP062', 290, 220, 160, 100, 70, 0, 70, 70, 120, 100, 220, 290, 70, 35]
['SHOP084', 220, 220, 160, 220, 70, 0, 120, 160, 120, 220, 220, 60, 70, 70]
['SHOP032', 220, 220, 160, 220, 70, 270, 60, 70, 120, 220, 220, 60, 70, 35]
['SHOP041', 220, 220, 160, 220, 70, 0, 290, 70, 120, 220, 220, 290, 70, 35]
['SHOP051', 220, 220, 160, 220, 70, 0, 60, 110, 120, 220, 220, 290, 70, 35]
['SHOP066', 220, 220, 160, 100, 140, 0, 60, 160, 120, 220, 220, 60, 70, 70]
['SHOP088', 70, 220, 160, 100, 70, 0, 70, 70, 120, 100, 220, 70, 70, 35]
['SHOP006', 220, 220, 160, 220, 70, 0, 70, 70, 120, 220, 220, 290, 70, 35]
['SHOP120', 220, 220, 160, 220, 140, 0, 270, 70, 120, 220, 220, 270, 70, 35]
['SHOP036', 220, 220, 160, 100, 70, 290, 70, 70, 120, 220, 220, 60, 70, 70]
['SHOP027', 220, 220, 160, 220, 70, 270, 60, 70, 120, 220, 220, 290, 70, 35]
['SHOP011', 220, 220, 160, 220, 70, 0, 290, 70, 120, 220, 220, 290, 70, 35]
['SHOP077', 220, 220, 160, 220, 70, 0, 290, 160, 120, 220, 220, 290, 70, 35]
['SHOP069', 220, 220, 160, 220, 140, 0, 60, 70, 120, 220, 220, 290, 70, 35]
['SHOP016', 290, 220, 160, 100, 70, 0, 290, 110, 120, 220, 220, 60, 70, 35]
['SHOP106', 220, 220, 160, 220, 70, 270, 60, 70, 120, 220, 220, 60, 70, 70]
['SHOP031', 220, 220, 160, 100, 70, 0, 290, 70, 120, 220, 220, 60, 70, 35]
['SHOP105', 290, 220, 160, 220, 70, 270, 60, 110, 120, 220, 220, 60, 70, 35]
['SHOP118', 290, 220, 160, 220, 70, 0, 70, 160, 120, 220, 220, 60, 70, 70]
['SHOP127', 290, 220, 160, 100, 70, 270, 60, 70, 120, 220, 220, 290, 70, 35]
['SHOP095', 290, 220, 160, 220, 70, 0, 60, 160, 0, 220, 220, 290, 140, 35]
['SHOP060', 290, 220, 160, 100, 70, 0, 70, 160, 120, 220, 220, 70, 70, 35]
['SHOP067', 220, 220, 160, 220, 70, 0, 60, 70, 120, 220, 220, 290, 70, 35]
['SHOP071', 290, 220, 160, 220, 140, 270, 290, 70, 120, 220, 220, 290, 70, 70]
['SHOP073', 290, 220, 160, 220, 70, 0, 60, 160, 120, 220, 220, 290, 70, 35]
['SHOP035', 220, 220, 160, 220, 350, 270, 290, 70, 120, 220, 220, 60, 140, 35]
['SHOP021', 290, 220, 160, 100, 140, 0, 70, 110, 120, 220, 220, 60, 70, 35]
['SHOP103', 220, 220, 160, 220, 70, 0, 60, 160, 120, 220, 220, 70, 70, 35]
['SHOP053', 220, 220, 160, 100, 70, 0, 70, 160, 120, 220, 220, 60, 70, 70]
['SHOP085', 220, 220, 160, 220, 70, 0, 290, 160, 120, 220, 220, 60, 70, 35]
['SHOP063', 290, 220, 480, 220, 70, 0, 290, 70, 120, 220, 220, 290, 140, 35]
['SHOP048', 290, 220, 160, 220, 140, 0, 290, 160, 120, 220, 220, 290, 70, 70]
['SHOP055', 290, 220, 160, 100, 70, 0, 70, 110, 120, 220, 220, 60, 70, 35]
['SHOP125', 290, 150, 320, 100, 140, 0, 60, 160, 120, 220, 220, 120, 70, 35]
['SHOP014', 220, 220, 160, 100, 140, 0, 60, 70, 120, 220, 220, 60, 70, 35]
['SHOP008', 220, 220, 160, 100, 140, 0, 290, 70, 120, 220, 220, 140, 70, 70]
['SHOP089', 220, 220, 160, 100, 70, 270, 60, 160, 120, 220, 220, 120, 70, 35]
['SHOP075', 220, 220, 160, 100, 70, 0, 270, 70, 120, 220, 220, 70, 70, 35]
['SHOP020', 220, 220, 160, 220, 140, 0, 290, 110, 120, 220, 220, 60, 70, 35]
['SHOP086', 220, 220, 160, 220, 70, 0, 70, 110, 120, 220, 220, 290, 70, 70]
['SHOP026', 220, 220, 160, 220, 140, 0, 70, 70, 120, 220, 220, 70, 70, 35]
['SHOP068', 220, 220, 160, 220, 70, 0, 70, 70, 120, 220, 220, 60, 70, 35]
['SHOP090', 220, 220, 160, 220, 70, 0, 290, 160, 120, 220, 220, 60, 70, 70]
['SHOP022', 220, 220, 160, 100, 70, 0, 70, 70, 120, 100, 220, 60, 70, 35]
['SHOP052', 290, 220, 300, 220, 70, 0, 290, 150, 120, 220, 220, 290, 70, 35]
['SHOP039', 290, 220, 160, 100, 140, 0, 60, 70, 120, 220, 220, 290, 70, 35]
['SHOP003', 220, 220, 160, 220, 70, 0, 60, 70, 120, 220, 220, 290, 70, 35]
['SHOP037', 220, 220, 160, 100, 70, 0, 70, 70, 120, 220, 220, 60, 70, 35]
['SHOP059', 220, 220, 160, 220, 70, 270, 290, 70, 120, 220, 220, 70, 70, 35]
['SHOP043', 220, 220, 160, 100, 140, 0, 60, 70, 360, 220, 220, 290, 70, 35]
['SHOP028', 220, 220, 160, 220, 70, 0, 60, 160, 120, 220, 220, 60, 70, 35]
['SHOP099', 290, 220, 160, 100, 210, 0, 70, 70, 120, 220, 220, 60, 70, 35]
['SHOP033', 290, 220, 160, 100, 70, 0, 290, 70, 120, 220, 220, 290, 70, 35]
['SHOP013', 220, 220, 160, 100, 140, 0, 270, 110, 120, 220, 220, 270, 70, 35]
['SHOP058', 220, 220, 160, 220, 70, 0, 70, 70, 120, 220, 220, 70, 140, 35]
['SHOP113', 220, 220, 160, 100, 70, 0, 60, 70, 120, 220, 220, 290, 70, 35]
['SHOP126', 290, 220, 160, 100, 140, 0, 70, 70, 120, 220, 220, 290, 70, 70]
['SHOP040', 220, 220, 160, 220, 140, 0, 290, 160, 120, 220, 220, 290, 70, 35]
['SHOP025', 220, 220, 320, 220, 70, 0, 290, 160, 120, 220, 220, 290, 70, 35]
['SHOP082', 220, 220, 160, 220, 140, 0, 70, 110, 120, 220, 220, 70, 70, 35]
['SHOP111', 290, 220, 160, 220, 70, 0, 290, 160, 120, 220, 220, 290, 70, 35]
['SHOP072', 290, 220, 160, 220, 70, 0, 290, 160, 120, 220, 220, 290, 70, 35]
['SHOP078', 220, 220, 160, 220, 70, 0, 290, 70, 120, 220, 220, 290, 70, 70]
['SHOP112', 290, 220, 160, 220, 70, 0, 290, 70, 120, 220, 220, 60, 70, 35]
['SHOP094', 220, 220, 160, 220, 70, 0, 60, 110, 120, 220, 220, 290, 70, 35]
['SHOP018', 220, 220, 160, 100, 70, 0, 70, 70, 120, 220, 220, 60, 70, 35]
['SHOP122', 290, 220, 160, 100, 70, 0, 70, 70, 120, 220, 220, 70, 70, 35]
['SHOP017', 220, 220, 160, 220, 70, 0, 290, 70, 120, 220, 220, 60, 70, 35]
['SHOP045', 290, 220, 160, 220, 70, 0, 290, 160, 120, 220, 220, 290, 140, 35]
['SHOP007', 290, 220, 160, 220, 70, 0, 270, 70, 120, 220, 220, 60, 70, 70]
['SHOP119', 290, 220, 160, 100, 70, 0, 270, 70, 120, 220, 220, 70, 70, 35]
['SHOP001', 220, 220, 160, 220, 70, 0, 270, 110, 120, 220, 220, 120, 140, 35]
['SHOP054', 290, 220, 160, 100, 70, 0, 290, 110, 0, 220, 220, 290, 70, 35]
['SHOP102', 290, 220, 160, 220, 70, 0, 60, 70, 120, 220, 220, 290, 70, 70]
['SHOP115', 220, 220, 320, 220, 70, 0, 60, 70, 0, 220, 220, 60, 70, 70]
['SHOP079', 220, 220, 160, 220, 70, 0, 70, 70, 120, 220, 220, 290, 70, 35]
['SHOP049', 290, 220, 160, 100, 70, 270, 60, 160, 120, 220, 220, 60, 140, 35]
['SHOP121', 290, 220, 160, 220, 70, 0, 70, 70, 120, 220, 220, 290, 70, 35]
['SHOP010', 220, 220, 160, 220, 140, 0, 60, 70, 120, 220, 220, 60, 70, 35]
['SHOP124', 290, 220, 160, 220, 70, 0, 70, 160, 120, 220, 220, 290, 70, 35]
['SHOP012', 220, 220, 160, 100, 70, 0, 120, 110, 120, 220, 220, 60, 70, 70]
['SHOP093', 220, 220, 320, 100, 70, 0, 60, 110, 120, 220, 220, 60, 70, 70]
['SHOP004', 220, 220, 160, 220, 140, 0, 60, 110, 120, 220, 220, 60, 70, 70]
['SHOP101', 290, 220, 160, 220, 70, 270, 290, 110, 120, 220, 220, 70, 70, 35]
['SHOP046', 290, 220, 160, 220, 70, 0, 290, 70, 120, 220, 220, 290, 70, 35]
['SHOP024', 220, 220, 320, 100, 70, 0, 60, 110, 120, 220, 220, 290, 70, 70]
['SHOP023', 220, 220, 160, 220, 140, 0, 60, 160, 120, 220, 220, 60, 70, 70]
['SHOP097', 290, 220, 160, 100, 140, 0, 140, 110, 120, 220, 220, 60, 70, 35]
['SHOP044', 290, 220, 160, 220, 70, 0, 270, 70, 120, 220, 220, 290, 70, 70]
['SHOP030', 220, 220, 160, 220, 70, 0, 70, 160, 120, 220, 220, 290, 70, 35]
['SHOP038', 290, 220, 160, 100, 70, 0, 60, 70, 120, 220, 220, 60, 70, 70]
['SHOP029', 290, 220, 160, 220, 70, 0, 70, 110, 240, 220, 220, 290, 70, 35]
['SHOP096', 220, 220, 160, 220, 70, 0, 290, 70, 120, 220, 220, 290, 70, 35]
['SHOP092', 220, 220, 160, 220, 70, 0, 60, 110, 120, 220, 220, 70, 70, 70]
['SHOP081', 290, 220, 160, 100, 70, 0, 290, 70, 0, 220, 220, 290, 70, 35]
['SHOP076', 290, 220, 160, 100, 70, 0, 60, 70, 120, 220, 220, 60, 70, 35]
['SHOP080', 220, 220, 160, 220, 140, 0, 70, 70, 120, 220, 220, 290, 70, 35]
['SHOP074', 220, 220, 160, 220, 140, 0, 290, 160, 120, 220, 220, 290, 140, 35]
['SHOP107', 290, 220, 160, 220, 70, 270, 270, 70, 120, 100, 220, 270, 70, 70]
['SHOP108', 220, 220, 160, 220, 70, 270, 270, 70, 120, 220, 220, 60, 70, 35]
['SHOP019', 220, 220, 160, 100, 70, 0, 60, 110, 120, 220, 220, 60, 70, 35]
['SHOP002', 220, 220, 160, 100, 70, 0, 290, 70, 120, 220, 220, 270, 70, 35]
['SHOP114', 290, 220, 160, 100, 70, 0, 290, 70, 120, 220, 220, 290, 70, 35]
['SHOP087', 220, 220, 160, 220, 70, 290, 60, 160, 120, 220, 220, 270, 70, 35]
['SHOP050', 290, 220, 160, 220, 140, 0, 120, 70, 120, 220, 220, 60, 70, 35]
['SHOP061', 220, 220, 160, 220, 70, 0, 270, 160, 120, 220, 220, 290, 70, 35]
['SHOP056', 290, 220, 160, 220, 70, 0, 60, 70, 120, 220, 220, 290, 70, 35]
['SHOP070', 220, 220, 320, 220, 70, 0, 60, 160, 120, 220, 220, 60, 70, 35]

In [11]:
item_price_per_item_per_month = pd.DataFrame(lst_of_lsts_item_price, columns=header_lst_item_price)
item_price_per_item_per_month.to_csv('chalani_item_price_per_item_per_month.csv')
item_price_per_item_per_month

,shop_id,ORANGE item_price,GINGER item_price,TONIC item_price,CREAM item_price,MILK item_price,APPLE item_price,MIXED item_price,SODA item_price,COLA item_price,LEMONADE item_price,NECTO item_price,MANGO item_price,NOTAVAILABLE item_price,WATER item_price
0,SHOP047,220,220,160,220,140,270,60,160,120,220,220,290,70,35
1,SHOP009,290,220,160,220,140,0,70,70,120,220,220,60,70,35
2,SHOP083,220,220,160,220,70,0,290,160,120,220,220,60,70,35
3,SHOP117,220,220,160,220,70,0,290,110,120,220,220,290,70,70
4,SHOP042,220,220,160,220,70,0,290,70,120,220,220,290,70,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,SHOP087,220,220,160,220,70,290,60,160,120,220,220,270,70,35
120,SHOP050,290,220,160,220,140,0,120,70,120,220,220,60,70,35
121,SHOP061,220,220,160,220,70,0,270,160,120,220,220,290,70,35
122,SHOP056,290,220,160,220,70,0,60,70,120,220,220,290,70,35
123,SHOP070,220,220,320,220,70,0,60,160,120,220,220,60,70,35

In [12]:
lst_of_lsts_quantity_sold = []
for shop_id in shops:
    # print(shop_id)
    lst = [shop_id]
    for i in items:
        # print('i',i)
        for month_ in range(10,13):
                # print(month_)
                # print(i+'-2021/'+str(month_)+'/'+str(day_))
                a = historical_transaction_data.loc[historical_transaction_data.shop_id == shop_id]
                b = a.loc[a.item_description == i]
                c = b.loc[b.month == month_]
                k = c.quantity_sold.sum()
                # print('k',k,'k[0]',k[0])
                # print(k)
                lst.append(k)
    print(lst)
    lst_of_lsts_quantity_sold.append(lst)

['SHOP047', 186, 200, 75, 257, 246, 161, 35, 46, 35, 197, 288, 141, 0, 42, 10, 4, 3, 23, 18, 41, 16, 102, 114, 58, 0, 5, 2, 47, 21, 23, 37, 46, 50, 56, 52, 45, 102, 222, 116, 62, 80, 24]
['SHOP009', 514, 355, 196, 561, 669, 815, 44, 50, 41, 296, 666, 440, 14, 28, 25, 31, 20, 0, 94, 147, 56, 136, 230, 142, 5, 11, 14, 85, 134, 103, 56, 110, 275, 103, 48, 27, 350, 656, 314, 169, 210, 171]
['SHOP083', 417, 385, 156, 393, 633, 552, 34, 57, 26, 304, 559, 399, 35, 38, 39, 26, 22, 0, 64, 107, 16, 133, 228, 112, 18, 14, 11, 93, 68, 85, 53, 62, 240, 84, 76, 22, 211, 322, 213, 114, 154, 69]
['SHOP117', 402, 305, 187, 440, 606, 596, 119, 180, 91, 260, 636, 388, 15, 54, 29, 28, 15, 0, 56, 186, 56, 403, 580, 397, 28, 22, 22, 67, 120, 82, 37, 60, 360, 104, 114, 63, 195, 346, 156, 43, 137, 88]
['SHOP042', 345, 245, 141, 358, 542, 569, 39, 67, 34, 249, 465, 327, 35, 59, 31, 33, 15, 0, 32, 68, 20, 144, 255, 120, 7, 12, 6, 53, 110, 59, 36, 34, 141, 100, 49, 15, 191, 327, 192, 95, 122, 102]
['SHOP034', 272, 207, 107, 200, 340, 275, 30, 44, 33, 203, 390, 276, 57, 23, 8, 10, 21, 0, 26, 67, 21, 121, 195, 113, 4, 3, 3, 27, 41, 47, 100, 75, 290, 33, 43, 22, 204, 286, 153, 72, 99, 53]
['SHOP100', 621, 361, 289, 446, 718, 747, 65, 71, 36, 450, 690, 579, 23, 90, 48, 23, 27, 0, 99, 158, 66, 243, 309, 172, 9, 10, 6, 125, 206, 128, 59, 161, 442, 129, 86, 58, 364, 540, 266, 83, 199, 167]
['SHOP057', 232, 234, 153, 342, 448, 472, 57, 92, 59, 167, 332, 217, 2, 50, 14, 25, 30, 6, 32, 52, 30, 157, 334, 188, 9, 11, 14, 103, 107, 73, 54, 33, 133, 64, 68, 33, 185, 365, 209, 99, 98, 101]
['SHOP098', 791, 385, 161, 361, 678, 889, 34, 55, 29, 333, 888, 528, 26, 83, 48, 27, 14, 0, 71, 185, 77, 194, 273, 176, 8, 15, 8, 49, 80, 72, 58, 97, 507, 72, 78, 49, 183, 341, 145, 89, 175, 117]
['SHOP123', 219, 170, 91, 221, 341, 278, 15, 54, 33, 227, 249, 200, 25, 79, 42, 12, 20, 4, 14, 51, 48, 98, 158, 83, 2, 7, 5, 27, 57, 39, 24, 49, 116, 50, 23, 14, 151, 179, 146, 80, 71, 80]
['SHOP116', 423, 284, 233, 449, 604, 585, 207, 320, 149, 277, 420, 298, 14, 79, 18, 33, 23, 0, 66, 110, 68, 455, 667, 349, 2, 9, 6, 85, 125, 81, 33, 66, 237, 99, 61, 88, 198, 359, 131, 268, 293, 248]
['SHOP005', 330, 312, 249, 437, 626, 661, 62, 150, 21, 412, 476, 315, 14, 91, 21, 36, 20, 0, 65, 98, 51, 225, 316, 115, 5, 17, 4, 125, 130, 100, 308, 63, 165, 128, 52, 49, 302, 606, 291, 110, 143, 83]
['SHOP065', 400, 210, 156, 499, 732, 564, 72, 78, 52, 318, 480, 394, 10, 38, 20, 19, 21, 0, 24, 70, 27, 177, 271, 108, 9, 15, 10, 61, 109, 59, 40, 71, 197, 76, 54, 32, 140, 313, 160, 87, 131, 57]
['SHOP104', 342, 225, 157, 247, 394, 531, 89, 135, 51, 196, 323, 255, 32, 55, 15, 22, 7, 0, 39, 129, 27, 220, 264, 195, 11, 8, 9, 50, 84, 57, 20, 35, 212, 48, 20, 13, 121, 220, 71, 104, 73, 139]
['SHOP091', 416, 490, 248, 485, 705, 718, 87, 217, 102, 460, 636, 392, 28, 89, 42, 39, 25, 0, 65, 157, 68, 233, 415, 166, 11, 17, 17, 70, 165, 92, 98, 164, 403, 108, 100, 80, 326, 590, 235, 205, 248, 177]
['SHOP015', 541, 208, 182, 182, 280, 500, 18, 21, 10, 291, 646, 377, 7, 37, 23, 20, 24, 0, 21, 117, 50, 77, 122, 60, 36, 19, 26, 63, 94, 106, 36, 92, 313, 43, 59, 49, 122, 178, 86, 28, 50, 57]
['SHOP062', 449, 471, 392, 347, 747, 681, 44, 130, 58, 338, 803, 546, 12, 92, 49, 38, 18, 0, 104, 229, 123, 161, 247, 140, 9, 21, 12, 97, 145, 95, 49, 135, 250, 185, 167, 109, 290, 771, 363, 180, 394, 271]
['SHOP084', 688, 470, 240, 545, 769, 821, 169, 259, 112, 450, 811, 414, 27, 46, 37, 42, 65, 0, 72, 192, 79, 501, 836, 393, 19, 25, 21, 128, 206, 102, 105, 161, 341, 108, 163, 60, 392, 547, 274, 112, 210, 206]
['SHOP032', 383, 232, 125, 333, 443, 492, 54, 77, 19, 179, 406, 252, 41, 71, 23, 20, 33, 16, 93, 88, 24, 108, 198, 97, 9, 11, 10, 80, 62, 55, 38, 73, 161, 53, 54, 29, 224, 274, 192, 100, 76, 61]
['SHOP041', 379, 240, 123, 306, 365, 449, 73, 117, 41, 269, 454, 310, 19, 70, 18, 17, 31, 0, 45, 102, 26, 213, 301, 166, 8, 17, 5, 52, 80, 69, 52, 97, 309, 88, 65, 28, 152, 210, 125, 86, 186, 86]
['SHOP051', 344, 327, 192, 543, 737, 623, 224, 320, 180, 281, 542, 384, 17, 39, 12, 62, 40, 0, 52, 160, 39, 338, 569, 244, 8, 5, 1, 115, 151, 101, 64, 55, 167, 97, 129, 50, 230, 285, 117, 174, 340, 212]
['SHOP066', 466, 208, 108, 247, 434, 657, 140, 167, 98, 185, 490, 274, 4, 17, 37, 26, 26, 0, 50, 128, 38, 234, 346, 159, 3, 7, 6, 55, 98, 85, 53, 91, 588, 55, 78, 23, 67, 69, 110, 105, 142, 129]
['SHOP088', 307, 387, 276, 296, 459, 349, 90, 98, 62, 310, 542, 493, 36, 54, 26, 21, 22, 0, 92, 193, 128, 299, 339, 257, 21, 30, 7, 83, 122, 61, 37, 85, 104, 199, 200, 83, 215, 473, 311, 456, 619, 859]
['SHOP006', 360, 264, 166, 332, 626, 713, 36, 70, 36, 340, 674, 320, 12, 70, 35, 31, 27, 0, 60, 197, 46, 186, 270, 139, 17, 22, 15, 54, 64, 69, 40, 68, 241, 87, 67, 42, 294, 489, 255, 74, 201, 86]
['SHOP120', 272, 176, 115, 202, 257, 345, 73, 69, 42, 202, 414, 245, 8, 40, 9, 9, 11, 0, 25, 67, 46, 160, 254, 125, 2, 5, 4, 21, 50, 32, 39, 69, 192, 38, 31, 44, 130, 180, 95, 68, 132, 58]
['SHOP036', 473, 342, 159, 364, 515, 596, 138, 281, 65, 324, 465, 352, 21, 39, 39, 9, 17, 1, 45, 128, 39, 268, 459, 207, 15, 14, 1, 85, 144, 161, 41, 68, 244, 104, 79, 64, 178, 444, 142, 103, 182, 118]
['SHOP027', 252, 277, 163, 314, 552, 513, 95, 139, 56, 314, 490, 336, 31, 59, 14, 37, 26, 2, 61, 95, 18, 219, 472, 197, 17, 24, 10, 95, 116, 50, 32, 58, 153, 78, 48, 45, 158, 250, 148, 85, 266, 123]
['SHOP011', 643, 518, 292, 616, 930, 739, 170, 261, 146, 505, 1039, 641, 25, 82, 30, 36, 34, 0, 87, 198, 47, 515, 922, 468, 17, 7, 17, 172, 199, 166, 69, 139, 365, 121, 111, 52, 275, 450, 143, 133, 378, 224]
['SHOP077', 731, 578, 364, 571, 920, 837, 58, 94, 63, 512, 810, 646, 9, 44, 36, 28, 54, 0, 64, 172, 54, 259, 303, 216, 14, 27, 14, 153, 232, 202, 60, 120, 284, 127, 116, 77, 252, 354, 186, 227, 303, 261]
['SHOP069', 358, 263, 156, 321, 405, 551, 61, 109, 62, 359, 824, 522, 6, 16, 86, 30, 7, 0, 26, 150, 41, 146, 275, 176, 6, 4, 6, 82, 118, 120, 50, 96, 263, 57, 55, 52, 100, 175, 130, 109, 112, 62]
['SHOP016', 423, 449, 255, 699, 1032, 745, 446, 724, 378, 312, 518, 412, 14, 76, 33, 16, 17, 0, 67, 124, 43, 893, 1141, 646, 4, 6, 14, 90, 198, 120, 77, 50, 190, 104, 77, 51, 187, 254, 106, 179, 200, 152]
['SHOP106', 396, 286, 166, 420, 735, 651, 46, 64, 32, 332, 527, 377, 16, 41, 22, 38, 39, 8, 18, 103, 26, 121, 192, 103, 10, 19, 23, 86, 118, 72, 54, 99, 160, 100, 17, 30, 353, 647, 247, 44, 67, 73]
['SHOP031', 463, 425, 290, 336, 446, 510, 145, 230, 104, 245, 474, 274, 23, 74, 17, 20, 36, 0, 78, 157, 35, 287, 438, 210, 7, 25, 10, 93, 149, 108, 46, 41, 193, 144, 75, 54, 149, 380, 179, 211, 504, 175]
['SHOP105', 583, 275, 201, 204, 275, 528, 4, 10, 31, 189, 501, 319, 41, 99, 12, 27, 36, 13, 30, 125, 63, 56, 98, 30, 23, 7, 14, 60, 103, 98, 50, 87, 723, 91, 75, 40, 151, 218, 142, 85, 84, 59]
['SHOP118', 531, 391, 264, 607, 770, 794, 73, 85, 25, 459, 888, 505, 6, 50, 64, 26, 33, 0, 98, 190, 139, 174, 318, 162, 10, 8, 11, 84, 115, 103, 77, 111, 401, 113, 127, 96, 300, 424, 305, 125, 134, 116]
['SHOP127', 608, 433, 299, 342, 597, 728, 71, 156, 143, 297, 528, 476, 20, 41, 41, 12, 20, 10, 54, 191, 114, 192, 291, 227, 2, 6, 2, 85, 173, 123, 32, 86, 251, 77, 98, 77, 354, 381, 166, 256, 694, 375]
['SHOP095', 369, 216, 173, 299, 374, 448, 37, 91, 13, 256, 403, 227, 14, 37, 26, 9, 10, 0, 38, 98, 29, 129, 189, 112, 5, 4, 0, 49, 37, 51, 44, 86, 238, 91, 36, 46, 110, 147, 58, 93, 111, 77]
['SHOP060', 377, 250, 187, 308, 505, 570, 21, 46, 24, 368, 709, 460, 33, 31, 28, 26, 35, 0, 60, 158, 53, 76, 193, 71, 9, 12, 6, 69, 76, 61, 49, 74, 228, 86, 59, 46, 228, 464, 217, 223, 361, 168]
['SHOP067', 423, 248, 157, 277, 341, 469, 73, 129, 73, 278, 519, 328, 5, 86, 25, 36, 23, 0, 67, 116, 70, 207, 345, 203, 17, 14, 4, 65, 80, 42, 48, 82, 216, 65, 49, 39, 165, 316, 128, 150, 197, 114]
['SHOP071', 208, 170, 88, 252, 333, 301, 45, 76, 36, 129, 338, 273, 26, 38, 35, 18, 20, 5, 36, 91, 34, 120, 214, 136, 7, 5, 8, 57, 52, 36, 31, 72, 97, 66, 58, 39, 175, 295, 155, 101, 114, 61]
['SHOP073', 371, 301, 194, 413, 640, 614, 71, 148, 76, 271, 524, 337, 41, 48, 26, 19, 32, 0, 33, 119, 18, 300, 521, 320, 6, 24, 12, 80, 147, 99, 44, 85, 187, 65, 36, 27, 203, 302, 139, 111, 209, 84]
['SHOP035', 280, 249, 169, 283, 384, 400, 82, 126, 81, 242, 294, 179, 10, 45, 42, 7, 24, 5, 26, 79, 37, 144, 242, 144, 11, 5, 3, 66, 95, 73, 54, 36, 149, 42, 59, 26, 215, 349, 119, 44, 134, 83]
['SHOP021', 463, 259, 197, 372, 618, 677, 50, 58, 35, 230, 684, 388, 35, 58, 22, 21, 29, 0, 39, 149, 60, 142, 272, 148, 12, 10, 10, 59, 102, 98, 42, 68, 267, 112, 57, 30, 174, 214, 145, 125, 223, 112]
['SHOP103', 392, 160, 89, 307, 394, 469, 70, 121, 25, 294, 596, 321, 30, 41, 34, 19, 24, 0, 60, 151, 37, 106, 179, 51, 8, 12, 7, 44, 95, 79, 23, 56, 163, 61, 60, 20, 108, 222, 49, 35, 60, 30]
['SHOP053', 420, 354, 172, 488, 748, 657, 41, 78, 28, 359, 718, 461, 39, 43, 17, 24, 43, 0, 61, 127, 48, 158, 227, 153, 11, 8, 6, 89, 179, 121, 75, 70, 199, 94, 111, 49, 212, 381, 157, 147, 332, 262]
['SHOP085', 403, 318, 108, 396, 576, 511, 53, 105, 31, 267, 590, 319, 23, 69, 39, 33, 15, 0, 34, 106, 16, 189, 242, 134, 19, 23, 15, 120, 119, 65, 64, 70, 221, 83, 63, 29, 261, 405, 156, 106, 200, 97]
['SHOP063', 357, 355, 234, 401, 655, 778, 45, 81, 25, 316, 601, 344, 18, 49, 8, 37, 32, 0, 42, 124, 46, 202, 318, 149, 14, 12, 12, 97, 153, 103, 40, 92, 245, 118, 91, 24, 118, 253, 107, 223, 277, 171]
['SHOP048', 382, 228, 157, 292, 498, 483, 47, 64, 33, 363, 400, 321, 40, 42, 14, 15, 18, 0, 52, 106, 14, 111, 171, 95, 6, 7, 2, 79, 97, 38, 46, 58, 170, 104, 31, 14, 253, 170, 105, 126, 224, 148]
['SHOP055', 167, 182, 134, 205, 511, 399, 16, 81, 27, 201, 351, 240, 13, 72, 55, 7, 13, 0, 23, 69, 34, 88, 165, 95, 6, 10, 7, 33, 87, 77, 32, 69, 114, 44, 42, 28, 113, 294, 77, 47, 75, 62]
['SHOP125', 112, 199, 120, 164, 383, 277, 54, 123, 110, 99, 234, 123, 0, 30, 7, 10, 15, 0, 18, 27, 26, 244, 361, 236, 2, 8, 4, 24, 88, 75, 26, 23, 38, 26, 35, 43, 118, 324, 152, 40, 202, 202]
['SHOP014', 372, 286, 149, 462, 696, 722, 105, 167, 96, 393, 460, 391, 20, 68, 26, 38, 38, 0, 44, 91, 61, 252, 540, 268, 24, 29, 11, 91, 125, 104, 35, 57, 218, 61, 57, 32, 357, 637, 419, 163, 182, 98]
['SHOP008', 0, 0, 30, 0, 0, 130, 0, 0, 21, 0, 0, 124, 0, 0, 12, 0, 0, 0, 0, 0, 12, 0, 0, 42, 0, 0, 1, 0, 0, 29, 0, 0, 22, 0, 0, 13, 0, 0, 23, 0, 0, 43]
['SHOP089', 457, 370, 257, 507, 607, 593, 35, 61, 49, 300, 443, 433, 13, 37, 24, 38, 48, 3, 62, 112, 60, 137, 194, 103, 9, 15, 6, 81, 128, 140, 46, 63, 185, 89, 67, 113, 172, 401, 179, 202, 298, 259]
['SHOP075', 354, 331, 193, 503, 664, 712, 175, 283, 138, 341, 438, 306, 19, 47, 31, 27, 35, 0, 48, 163, 59, 463, 616, 358, 10, 9, 14, 89, 154, 106, 60, 88, 213, 122, 65, 45, 207, 340, 241, 210, 370, 152]
['SHOP020', 596, 467, 241, 590, 917, 942, 44, 126, 54, 443, 716, 568, 30, 52, 32, 32, 12, 0, 58, 186, 48, 177, 288, 155, 3, 17, 10, 91, 137, 122, 49, 86, 263, 115, 52, 50, 329, 534, 290, 166, 229, 167]
['SHOP086', 626, 461, 194, 754, 979, 930, 180, 241, 124, 394, 676, 530, 27, 35, 20, 42, 10, 0, 62, 246, 56, 484, 698, 373, 21, 35, 8, 131, 166, 115, 59, 99, 273, 148, 91, 78, 252, 453, 198, 160, 339, 130]
['SHOP026', 548, 451, 321, 343, 517, 637, 29, 26, 14, 417, 526, 464, 39, 107, 67, 45, 30, 0, 81, 225, 120, 114, 200, 110, 11, 16, 5, 85, 133, 114, 68, 103, 488, 152, 81, 83, 197, 400, 277, 165, 188, 99]
['SHOP068', 580, 381, 342, 365, 498, 740, 26, 73, 32, 477, 772, 522, 32, 126, 61, 24, 29, 0, 96, 247, 81, 148, 246, 152, 5, 5, 10, 122, 176, 178, 73, 121, 350, 124, 69, 56, 355, 574, 337, 94, 93, 69]
['SHOP090', 214, 244, 76, 232, 445, 436, 24, 46, 24, 175, 351, 217, 24, 40, 17, 18, 25, 0, 17, 70, 36, 108, 193, 137, 5, 14, 9, 49, 42, 38, 43, 53, 115, 60, 66, 23, 166, 322, 81, 53, 88, 45]
['SHOP022', 294, 280, 182, 375, 666, 536, 40, 87, 41, 256, 392, 242, 31, 49, 24, 26, 30, 0, 69, 120, 26, 154, 262, 125, 5, 5, 6, 75, 66, 86, 47, 66, 135, 69, 82, 47, 272, 539, 298, 231, 308, 146]
['SHOP052', 568, 458, 230, 377, 646, 679, 71, 102, 42, 308, 589, 464, 9, 95, 31, 67, 34, 0, 105, 217, 77, 153, 262, 131, 3, 10, 9, 60, 96, 90, 53, 90, 419, 113, 84, 71, 236, 393, 190, 277, 348, 155]
['SHOP039', 416, 367, 272, 563, 791, 724, 86, 114, 45, 354, 490, 388, 61, 33, 50, 27, 28, 0, 90, 139, 61, 215, 327, 146, 12, 13, 7, 111, 143, 138, 47, 60, 216, 140, 114, 40, 378, 587, 280, 351, 439, 357]
['SHOP003', 377, 278, 106, 349, 485, 477, 70, 132, 77, 397, 619, 463, 16, 38, 28, 19, 14, 0, 70, 116, 43, 197, 354, 231, 9, 25, 4, 88, 148, 126, 45, 85, 250, 76, 63, 31, 180, 207, 167, 141, 242, 116]
['SHOP037', 400, 337, 250, 378, 551, 480, 49, 40, 26, 309, 575, 401, 10, 46, 57, 40, 23, 0, 44, 150, 86, 145, 229, 125, 6, 17, 11, 69, 107, 80, 41, 75, 192, 77, 57, 47, 399, 684, 396, 126, 242, 131]
['SHOP059', 504, 410, 191, 468, 786, 687, 64, 60, 42, 391, 908, 451, 14, 13, 38, 13, 15, 5, 79, 192, 121, 186, 289, 182, 12, 26, 8, 100, 123, 84, 96, 110, 327, 80, 56, 110, 371, 580, 226, 140, 257, 122]
['SHOP043', 532, 490, 249, 700, 928, 956, 106, 286, 128, 510, 860, 538, 13, 32, 13, 41, 23, 0, 48, 167, 60, 399, 755, 406, 23, 16, 3, 117, 160, 125, 76, 147, 298, 114, 93, 40, 638, 1099, 708, 139, 257, 196]
['SHOP028', 386, 240, 184, 394, 618, 583, 24, 40, 32, 364, 629, 364, 10, 21, 12, 23, 26, 0, 31, 145, 20, 160, 228, 161, 13, 19, 14, 67, 94, 108, 47, 83, 342, 41, 86, 35, 293, 546, 229, 97, 128, 81]
['SHOP099', 587, 326, 172, 370, 490, 700, 48, 53, 42, 367, 690, 374, 19, 161, 119, 32, 16, 0, 69, 152, 47, 174, 238, 142, 8, 4, 1, 66, 101, 93, 73, 131, 482, 89, 81, 46, 228, 325, 205, 227, 196, 132]
['SHOP033', 556, 505, 323, 562, 754, 805, 163, 172, 86, 396, 708, 432, 22, 35, 33, 34, 37, 0, 78, 219, 103, 450, 691, 414, 9, 17, 6, 125, 186, 165, 71, 165, 330, 144, 114, 108, 163, 266, 122, 139, 182, 218]
['SHOP013', 330, 284, 191, 414, 642, 639, 113, 217, 108, 289, 477, 322, 31, 47, 24, 14, 28, 0, 41, 107, 101, 353, 454, 256, 5, 12, 8, 95, 163, 218, 43, 45, 136, 85, 88, 131, 276, 411, 104, 156, 172, 82]
['SHOP058', 532, 555, 480, 835, 1168, 970, 180, 205, 130, 403, 736, 497, 29, 134, 50, 50, 16, 0, 106, 291, 75, 399, 526, 327, 3, 7, 14, 195, 198, 178, 195, 110, 268, 163, 183, 55, 556, 796, 360, 251, 681, 487]
['SHOP113', 569, 395, 260, 543, 873, 795, 60, 92, 40, 399, 693, 503, 51, 91, 47, 40, 24, 0, 74, 193, 61, 183, 251, 123, 14, 16, 19, 153, 151, 111, 68, 103, 305, 132, 44, 33, 268, 565, 255, 200, 246, 164]
['SHOP126', 329, 223, 139, 329, 404, 422, 116, 183, 108, 242, 492, 271, 29, 83, 57, 35, 8, 0, 78, 132, 44, 304, 408, 253, 16, 31, 3, 59, 64, 66, 34, 53, 145, 87, 69, 41, 270, 289, 178, 107, 169, 161]
['SHOP040', 429, 325, 163, 402, 566, 598, 58, 61, 53, 259, 359, 297, 10, 53, 22, 23, 25, 0, 47, 267, 50, 198, 230, 122, 5, 11, 8, 67, 81, 65, 57, 84, 184, 117, 80, 21, 131, 270, 107, 64, 95, 110]
['SHOP025', 503, 216, 177, 385, 386, 501, 44, 50, 26, 363, 611, 493, 19, 58, 36, 16, 34, 0, 31, 51, 29, 158, 198, 177, 6, 10, 10, 69, 87, 104, 58, 75, 388, 66, 37, 38, 147, 236, 176, 110, 81, 73]
['SHOP082', 559, 398, 315, 857, 1125, 1065, 100, 114, 75, 550, 824, 570, 57, 83, 38, 22, 29, 0, 62, 262, 45, 245, 402, 183, 15, 38, 16, 148, 188, 165, 83, 146, 356, 114, 141, 92, 336, 606, 130, 174, 192, 163]
['SHOP111', 599, 520, 309, 670, 907, 764, 234, 415, 186, 370, 710, 480, 16, 112, 36, 52, 37, 0, 53, 213, 69, 610, 976, 417, 16, 14, 14, 194, 232, 148, 73, 88, 245, 139, 93, 105, 304, 542, 176, 226, 357, 217]
['SHOP072', 387, 477, 253, 467, 638, 536, 49, 148, 37, 419, 551, 361, 39, 36, 45, 77, 24, 0, 47, 164, 46, 187, 442, 112, 9, 12, 8, 144, 167, 107, 73, 116, 220, 138, 76, 46, 342, 553, 319, 212, 317, 259]
['SHOP078', 689, 389, 266, 441, 669, 677, 19, 41, 22, 332, 689, 450, 44, 108, 80, 22, 20, 0, 57, 130, 61, 151, 277, 117, 9, 9, 15, 90, 142, 200, 69, 164, 460, 100, 71, 30, 275, 253, 96, 84, 154, 210]
['SHOP112', 195, 213, 132, 396, 461, 395, 45, 58, 42, 258, 372, 230, 27, 30, 25, 15, 14, 0, 40, 76, 17, 147, 170, 114, 10, 5, 4, 80, 50, 71, 23, 42, 113, 45, 31, 28, 62, 177, 107, 83, 84, 122]
['SHOP094', 432, 320, 178, 462, 677, 801, 138, 237, 126, 333, 600, 462, 4, 79, 48, 47, 34, 0, 62, 157, 55, 398, 687, 352, 26, 29, 14, 101, 134, 114, 56, 86, 302, 95, 90, 39, 262, 381, 209, 84, 128, 74]
['SHOP018', 554, 604, 395, 624, 1052, 845, 121, 220, 102, 389, 830, 544, 68, 205, 125, 45, 27, 0, 66, 238, 80, 289, 654, 381, 12, 10, 1, 134, 197, 216, 55, 105, 218, 116, 169, 96, 445, 531, 274, 243, 547, 338]
['SHOP122', 400, 309, 215, 398, 586, 596, 48, 55, 33, 271, 433, 378, 14, 37, 25, 17, 24, 0, 48, 138, 78, 131, 268, 113, 3, 3, 4, 72, 124, 109, 40, 92, 164, 71, 94, 47, 314, 472, 268, 148, 272, 167]
['SHOP017', 408, 319, 174, 342, 561, 557, 76, 137, 55, 182, 441, 339, 27, 36, 10, 29, 26, 0, 40, 124, 45, 332, 599, 349, 30, 21, 15, 107, 125, 86, 34, 72, 227, 57, 52, 39, 210, 291, 187, 126, 113, 95]
['SHOP045', 489, 467, 195, 452, 703, 700, 75, 98, 31, 382, 615, 439, 20, 74, 45, 57, 28, 0, 65, 200, 59, 151, 216, 113, 8, 11, 8, 79, 192, 124, 46, 78, 241, 150, 116, 77, 226, 289, 185, 265, 315, 224]
['SHOP007', 396, 222, 143, 395, 495, 560, 54, 96, 59, 384, 900, 530, 8, 18, 10, 12, 16, 0, 49, 75, 107, 155, 223, 161, 15, 32, 15, 64, 94, 83, 70, 104, 494, 38, 38, 28, 225, 367, 180, 79, 120, 77]
['SHOP119', 359, 216, 187, 267, 436, 582, 51, 52, 28, 364, 625, 463, 13, 58, 37, 20, 15, 0, 27, 120, 27, 140, 240, 131, 0, 7, 5, 86, 113, 92, 39, 61, 211, 58, 63, 46, 210, 269, 149, 70, 237, 118]
['SHOP001', 207, 159, 99, 273, 263, 427, 28, 61, 41, 137, 303, 203, 3, 11, 15, 17, 4, 0, 25, 56, 52, 91, 170, 70, 2, 4, 6, 32, 80, 47, 30, 40, 151, 38, 39, 24, 133, 196, 122, 87, 106, 90]
['SHOP054', 277, 326, 177, 402, 585, 470, 149, 129, 74, 318, 434, 294, 21, 15, 15, 33, 21, 0, 41, 119, 89, 226, 298, 146, 3, 4, 0, 69, 82, 71, 44, 46, 109, 68, 55, 26, 215, 298, 189, 154, 207, 165]
['SHOP102', 385, 251, 188, 371, 520, 569, 57, 74, 39, 272, 467, 277, 60, 55, 36, 24, 20, 0, 50, 134, 44, 133, 202, 106, 10, 9, 10, 115, 104, 82, 50, 75, 171, 105, 60, 31, 344, 593, 329, 152, 193, 182]
['SHOP115', 195, 163, 144, 270, 359, 280, 36, 35, 20, 201, 372, 226, 4, 34, 22, 24, 34, 0, 24, 67, 16, 108, 171, 61, 10, 3, 0, 84, 75, 83, 33, 48, 143, 58, 61, 45, 163, 292, 81, 119, 128, 154]
['SHOP079', 482, 404, 296, 546, 867, 972, 91, 200, 93, 334, 659, 602, 19, 38, 28, 51, 33, 0, 122, 236, 109, 370, 559, 302, 4, 7, 7, 192, 174, 149, 63, 132, 343, 59, 97, 69, 261, 445, 152, 109, 194, 163]
['SHOP049', 372, 334, 268, 487, 652, 748, 43, 107, 69, 196, 595, 397, 15, 48, 27, 27, 36, 10, 24, 120, 35, 158, 270, 150, 16, 26, 11, 73, 139, 120, 22, 60, 208, 94, 57, 31, 360, 668, 297, 101, 173, 120]
['SHOP121', 629, 353, 173, 327, 577, 792, 130, 136, 98, 494, 862, 451, 22, 64, 27, 37, 20, 0, 61, 135, 45, 221, 438, 213, 4, 20, 19, 124, 129, 61, 43, 73, 406, 102, 66, 22, 75, 150, 36, 238, 370, 266]
['SHOP010', 473, 325, 171, 417, 681, 669, 54, 145, 62, 371, 595, 349, 41, 57, 16, 29, 20, 0, 61, 151, 43, 286, 428, 273, 6, 11, 7, 113, 124, 78, 64, 94, 232, 89, 69, 35, 337, 500, 237, 88, 191, 104]
['SHOP124', 402, 410, 253, 471, 800, 656, 110, 187, 102, 271, 473, 318, 69, 123, 84, 41, 46, 0, 87, 144, 38, 308, 441, 272, 17, 10, 12, 119, 246, 192, 57, 79, 190, 149, 95, 54, 309, 492, 202, 196, 356, 211]
['SHOP012', 222, 201, 148, 164, 318, 428, 41, 48, 13, 195, 470, 359, 25, 59, 22, 20, 20, 0, 28, 76, 26, 53, 82, 63, 9, 12, 9, 38, 67, 92, 32, 50, 119, 24, 49, 29, 37, 139, 162, 59, 93, 64]
['SHOP093', 251, 250, 164, 277, 421, 429, 32, 76, 28, 215, 258, 219, 14, 29, 19, 18, 16, 0, 140, 100, 61, 160, 182, 69, 7, 3, 11, 76, 80, 94, 13, 35, 76, 81, 87, 32, 91, 208, 117, 201, 294, 203]
['SHOP004', 390, 295, 189, 439, 598, 732, 43, 107, 35, 299, 488, 291, 18, 38, 41, 27, 22, 0, 95, 130, 95, 157, 369, 182, 12, 16, 10, 74, 83, 47, 40, 65, 193, 73, 32, 34, 77, 222, 100, 59, 126, 58]
['SHOP101', 568, 424, 235, 713, 823, 824, 72, 122, 30, 445, 705, 444, 20, 81, 38, 23, 35, 5, 81, 153, 79, 252, 408, 241, 28, 52, 28, 113, 170, 158, 49, 114, 277, 115, 105, 60, 192, 250, 109, 140, 311, 173]

In [13]:
quantity_sold_per_item_per_month = pd.DataFrame(lst_of_lsts_quantity_sold, columns=header_lst_quantity_sold)
quantity_sold_per_item_per_month.to_csv('chalani_quantity_sold_per_item_per_month.csv')
quantity_sold_per_item_per_month

,shop_id,ORANGE 10 quantity_sold,ORANGE 11 quantity_sold,ORANGE 12 quantity_sold,GINGER 10 quantity_sold,GINGER 11 quantity_sold,GINGER 12 quantity_sold,TONIC 10 quantity_sold,TONIC 11 quantity_sold,TONIC 12 quantity_sold,...,NECTO 12 quantity_sold,MANGO 10 quantity_sold,MANGO 11 quantity_sold,MANGO 12 quantity_sold,NOTAVAILABLE 10 quantity_sold,NOTAVAILABLE 11 quantity_sold,NOTAVAILABLE 12 quantity_sold,WATER 10 quantity_sold,WATER 11 quantity_sold,WATER 12 quantity_sold
0,SHOP047,186,200,75,257,246,161,35,46,35,...,50,56,52,45,102,222,116,62,80,24
1,SHOP009,514,355,196,561,669,815,44,50,41,...,275,103,48,27,350,656,314,169,210,171
2,SHOP083,417,385,156,393,633,552,34,57,26,...,240,84,76,22,211,322,213,114,154,69
3,SHOP117,402,305,187,440,606,596,119,180,91,...,360,104,114,63,195,346,156,43,137,88
4,SHOP042,345,245,141,358,542,569,39,67,34,...,141,100,49,15,191,327,192,95,122,102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,SHOP087,221,136,95,295,326,335,41,93,34,...,114,32,22,19,83,107,97,59,93,24
120,SHOP050,624,289,169,373,512,859,76,77,48,...,383,91,57,50,222,196,147,44,142,67
121,SHOP061,310,181,144,394,555,543,51,72,38,...,229,67,68,52,61,161,101,67,126,122
122,SHOP056,670,530,342,529,738,861,47,83,55,...,441,147,161,123,451,598,297,141,247,222
123,SHOP070,323,215,161,296,515,596,17,35,30,...,143,46,33,31,75,233,95,68,73,52

In [14]:
stores1 = pd.merge(store_info,item_price_per_item_per_month,how='left',on='shop_id')
stores1

,shop_id,shop_area_sq_ft,shop_profile,ORANGE item_price,GINGER item_price,TONIC item_price,CREAM item_price,MILK item_price,APPLE item_price,MIXED item_price,SODA item_price,COLA item_price,LEMONADE item_price,NECTO item_price,MANGO item_price,NOTAVAILABLE item_price,WATER item_price
0,SHOP047,528,Moderate,220,220,160,220,140,270,60,160,120,220,220,290,70,35
1,SHOP009,676,High,290,220,160,220,140,0,70,70,120,220,220,60,70,35
2,SHOP083,676,Low,220,220,160,220,70,0,290,160,120,220,220,60,70,35
3,SHOP117,676,Low,220,220,160,220,70,0,290,110,120,220,220,290,70,70
4,SHOP042,676,Low,220,220,160,220,70,0,290,70,120,220,220,290,70,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,SHOP087,527,NaN,220,220,160,220,70,290,60,160,120,220,220,270,70,35
120,SHOP050,411,NaN,290,220,160,220,140,0,120,70,120,220,220,60,70,35
121,SHOP061,699,NaN,220,220,160,220,70,0,270,160,120,220,220,290,70,35
122,SHOP056,597,NaN,290,220,160,220,70,0,60,70,120,220,220,290,70,35
123,SHOP070,676,NaN,220,220,320,220,70,0,60,160,120,220,220,60,70,35

In [16]:
stores2 = pd.merge(stores1,quantity_sold_per_item_per_month,how='left',on='shop_id')
stores2.to_csv('chalani_store_info_item_price_quantity_sold_per_month.csv')
stores2

,shop_id,shop_area_sq_ft,shop_profile,ORANGE item_price,GINGER item_price,TONIC item_price,CREAM item_price,MILK item_price,APPLE item_price,MIXED item_price,...,NECTO 12 quantity_sold,MANGO 10 quantity_sold,MANGO 11 quantity_sold,MANGO 12 quantity_sold,NOTAVAILABLE 10 quantity_sold,NOTAVAILABLE 11 quantity_sold,NOTAVAILABLE 12 quantity_sold,WATER 10 quantity_sold,WATER 11 quantity_sold,WATER 12 quantity_sold
0,SHOP047,528,Moderate,220,220,160,220,140,270,60,...,50,56,52,45,102,222,116,62,80,24
1,SHOP009,676,High,290,220,160,220,140,0,70,...,275,103,48,27,350,656,314,169,210,171
2,SHOP083,676,Low,220,220,160,220,70,0,290,...,240,84,76,22,211,322,213,114,154,69
3,SHOP117,676,Low,220,220,160,220,70,0,290,...,360,104,114,63,195,346,156,43,137,88
4,SHOP042,676,Low,220,220,160,220,70,0,290,...,141,100,49,15,191,327,192,95,122,102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,SHOP087,527,NaN,220,220,160,220,70,290,60,...,114,32,22,19,83,107,97,59,93,24
120,SHOP050,411,NaN,290,220,160,220,140,0,120,...,383,91,57,50,222,196,147,44,142,67
121,SHOP061,699,NaN,220,220,160,220,70,0,270,...,229,67,68,52,61,161,101,67,126,122
122,SHOP056,597,NaN,290,220,160,220,70,0,60,...,441,147,161,123,451,598,297,141,247,222
123,SHOP070,676,NaN,220,220,320,220,70,0,60,...,143,46,33,31,75,233,95,68,73,52

In [37]:
stores2['ORANGE BARLEY 1.5L 10 item_price']*stores2['ORANGE BARLEY 1.5L 10 quantity_sold']

KeyError: 'ORANGE BARLEY 1.5L 10 item_price'

In [30]:
stores3 = stores2.copy()
stores3

,shop_id,shop_area_sq_ft,shop_profile,ORANGE BARLEY 1.5L 10 item_price,ORANGE BARLEY 1.5L 11 item_price,ORANGE BARLEY 1.5L 12 item_price,GINGER BEER 1.5L 10 item_price,GINGER BEER 1.5L 11 item_price,GINGER BEER 1.5L 12 item_price,TONIC PET 500ML 10 item_price,...,ORANGE CRUSH 1L 12 quantity_sold,GINGER BEER 400ML 10 quantity_sold,GINGER BEER 400ML 11 quantity_sold,GINGER BEER 400ML 12 quantity_sold,CHOCOLATE MILK 180ML 10 quantity_sold,CHOCOLATE MILK 180ML 11 quantity_sold,CHOCOLATE MILK 180ML 12 quantity_sold,LIME CRUSH JUICE 1L 10 quantity_sold,LIME CRUSH JUICE 1L 11 quantity_sold,LIME CRUSH JUICE 1L 12 quantity_sold
0,SHOP047,528,Moderate,220,220,220,220,220,220,160,...,5,42,5,4,0,0,0,0,0,0
1,SHOP009,676,High,220,220,220,220,220,220,160,...,3,19,35,15,0,0,0,0,0,0
2,SHOP083,676,Low,220,220,220,220,220,220,160,...,5,7,13,9,0,0,3,0,0,0
3,SHOP117,676,Low,220,220,220,220,220,220,160,...,14,12,32,12,0,0,0,0,0,0
4,SHOP042,676,Low,220,220,220,220,220,220,320,...,4,10,22,15,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,SHOP087,527,NaN,220,220,220,220,220,220,150,...,11,15,14,0,0,0,0,0,0,0
120,SHOP050,411,NaN,220,220,220,220,220,220,160,...,0,20,15,5,0,0,0,0,0,0
121,SHOP061,699,NaN,220,220,220,220,220,220,320,...,5,8,10,21,0,0,0,0,0,0
122,SHOP056,597,NaN,220,220,220,220,220,220,160,...,18,20,34,12,0,0,0,0,0,0
123,SHOP070,676,NaN,220,220,220,220,220,220,160,...,5,2,22,11,0,0,4,0,0,0

In [28]:
len(header_lst_item_price)

112

In [38]:
for i in range(1,112):
    print(header_lst_item_price[i],header_lst_quantity_sold[i],header_lst_total_earning[i])
    stores3[header_lst_total_earning[i]] = stores3[header_lst_item_price[i]]*stores3[header_lst_quantity_sold[i]]

stores3

ORANGE BARLEY 1.5L 10 item_price ORANGE BARLEY 1.5L 10 quantity_sold ORANGE BARLEY 1.5L 10 total_earning
ORANGE BARLEY 1.5L 11 item_price ORANGE BARLEY 1.5L 11 quantity_sold ORANGE BARLEY 1.5L 11 total_earning
ORANGE BARLEY 1.5L 12 item_price ORANGE BARLEY 1.5L 12 quantity_sold ORANGE BARLEY 1.5L 12 total_earning
GINGER BEER 1.5L 10 item_price GINGER BEER 1.5L 10 quantity_sold GINGER BEER 1.5L 10 total_earning
GINGER BEER 1.5L 11 item_price GINGER BEER 1.5L 11 quantity_sold GINGER BEER 1.5L 11 total_earning
GINGER BEER 1.5L 12 item_price GINGER BEER 1.5L 12 quantity_sold GINGER BEER 1.5L 12 total_earning
TONIC PET 500ML 10 item_price TONIC PET 500ML 10 quantity_sold TONIC PET 500ML 10 total_earning
TONIC PET 500ML 11 item_price TONIC PET 500ML 11 quantity_sold TONIC PET 500ML 11 total_earning
TONIC PET 500ML 12 item_price TONIC PET 500ML 12 quantity_sold TONIC PET 500ML 12 total_earning
CREAM SODA 1L 10 item_price CREAM SODA 1L 10 quantity_sold CREAM SODA 1L 10 total_earning
CREAM SODA 1L 11 item_price CREAM SODA 1L 11 quantity_sold CREAM SODA 1L 11 total_earning
CREAM SODA 1L 12 item_price CREAM SODA 1L 12 quantity_sold CREAM SODA 1L 12 total_earning
STRAWBERRY MILK 180ML 10 item_price STRAWBERRY MILK 180ML 10 quantity_sold STRAWBERRY MILK 180ML 10 total_earning
STRAWBERRY MILK 180ML 11 item_price STRAWBERRY MILK 180ML 11 quantity_sold STRAWBERRY MILK 180ML 11 total_earning
STRAWBERRY MILK 180ML 12 item_price STRAWBERRY MILK 180ML 12 quantity_sold STRAWBERRY MILK 180ML 12 total_earning
CREAM SODA 1.5L 10 item_price CREAM SODA 1.5L 10 quantity_sold CREAM SODA 1.5L 10 total_earning
CREAM SODA 1.5L 11 item_price CREAM SODA 1.5L 11 quantity_sold CREAM SODA 1.5L 11 total_earning
CREAM SODA 1.5L 12 item_price CREAM SODA 1.5L 12 quantity_sold CREAM SODA 1.5L 12 total_earning
TWISTEE APPLE 1L 10 item_price TWISTEE APPLE 1L 10 quantity_sold TWISTEE APPLE 1L 10 total_earning
TWISTEE APPLE 1L 11 item_price TWISTEE APPLE 1L 11 quantity_sold TWISTEE APPLE 1L 11 total_earning
TWISTEE APPLE 1L 12 item_price TWISTEE APPLE 1L 12 quantity_sold TWISTEE APPLE 1L 12 total_earning
FIT O MIXED FRUIT 200ML 10 item_price FIT O MIXED FRUIT 200ML 10 quantity_sold FIT O MIXED FRUIT 200ML 10 total_earning
FIT O MIXED FRUIT 200ML 11 item_price FIT O MIXED FRUIT 200ML 11 quantity_sold FIT O MIXED FRUIT 200ML 11 total_earning
FIT O MIXED FRUIT 200ML 12 item_price FIT O MIXED FRUIT 200ML 12 quantity_sold FIT O MIXED FRUIT 200ML 12 total_earning
SODA PET 1.5L 10 item_price SODA PET 1.5L 10 quantity_sold SODA PET 1.5L 10 total_earning
SODA PET 1.5L 11 item_price SODA PET 1.5L 11 quantity_sold SODA PET 1.5L 11 total_earning
SODA PET 1.5L 12 item_price SODA PET 1.5L 12 quantity_sold SODA PET 1.5L 12 total_earning
FIT O MIXED FRUIT 1L 10 item_price FIT O MIXED FRUIT 1L 10 quantity_sold FIT O MIXED FRUIT 1L 10 total_earning
FIT O MIXED FRUIT 1L 11 item_price FIT O MIXED FRUIT 1L 11 quantity_sold FIT O MIXED FRUIT 1L 11 total_earning
FIT O MIXED FRUIT 1L 12 item_price FIT O MIXED FRUIT 1L 12 quantity_sold FIT O MIXED FRUIT 1L 12 total_earning
KIK COLA 1L 10 item_price KIK COLA 1L 10 quantity_sold KIK COLA 1L 10 total_earning
KIK COLA 1L 11 item_price KIK COLA 1L 11 quantity_sold KIK COLA 1L 11 total_earning
KIK COLA 1L 12 item_price KIK COLA 1L 12 quantity_sold KIK COLA 1L 12 total_earning
LEMONADE 500ML 10 item_price LEMONADE 500ML 10 quantity_sold LEMONADE 500ML 10 total_earning
LEMONADE 500ML 11 item_price LEMONADE 500ML 11 quantity_sold LEMONADE 500ML 11 total_earning
LEMONADE 500ML 12 item_price LEMONADE 500ML 12 quantity_sold LEMONADE 500ML 12 total_earning
FIT O ORANGE 1L 10 item_price FIT O ORANGE 1L 10 quantity_sold FIT O ORANGE 1L 10 total_earning
FIT O ORANGE 1L 11 item_price FIT O ORANGE 1L 11 quantity_sold FIT O ORANGE 1L 11 total_earning
FIT O ORANGE 1L 12 item_price FIT O ORANGE 1L 12 quantity_sold FIT O ORANGE 1L 12 total_earning
NECTO 1.5L 10 item_price NECTO 1.5L 10 quantity_sold NECTO 1.5L 10 total_earning
NECTO 1.5L 11 item_price NECTO 1.5L 11 quantity_sold NECTO 1.5L 11 total_earning
NECTO 1.5L 12 item_price NECTO 1.5L 12 quantity_sold NECTO 1.5L 12 total_earning
LEMONADE 1.5L 10 item_price LEMONADE 1.5L 10 quantity_sold LEMONADE 1.5L 10 total_earning
LEMONADE 1.5L 11 item_price LEMONADE 1.5L 11 quantity_sold LEMONADE 1.5L 11 total_earning
LEMONADE 1.5L 12 item_price LEMONADE 1.5L 12 quantity_sold LEMONADE 1.5L 12 total_earning
GINGER BEER 1L 10 item_price GINGER BEER 1L 10 quantity_sold GINGER BEER 1L 10 total_earning
GINGER BEER 1L 11 item_price GINGER BEER 1L 11 quantity_sold GINGER BEER 1L 11 total_earning
GINGER BEER 1L 12 item_price GINGER BEER 1L 12 quantity_sold GINGER BEER 1L 12 total_earning
FIT O MANGO 200ML 10 item_price FIT O MANGO 200ML 10 quantity_sold FIT O MANGO 200ML 10 total_earning
FIT O MANGO 200ML 11 item_price FIT O MANGO 200ML 11 quantity_sold FIT O MANGO 200ML 11 total_earning
FIT O MANGO 200ML 12 item_price FIT O MANGO 200ML 12 quantity_sold FIT O MANGO 200ML 12 total_earning
FIT O MANGO 1L 10 item_price FIT O MANGO 1L 10 quantity_sold FIT O MANGO 1L 10 total_earning
FIT O MANGO 1L 11 item_price FIT O MANGO 1L 11 quantity_sold FIT O MANGO 1L 11 total_earning
FIT O MANGO 1L 12 item_price FIT O MANGO 1L 12 quantity_sold FIT O MANGO 1L 12 total_earning
CREAM SODA 500ML 10 item_price CREAM SODA 500ML 10 quantity_sold CREAM SODA 500ML 10 total_earning
CREAM SODA 500ML 11 item_price CREAM SODA 500ML 11 quantity_sold CREAM SODA 500ML 11 total_earning
CREAM SODA 500ML 12 item_price CREAM SODA 500ML 12 quantity_sold CREAM SODA 500ML 12 total_earning
FIT O ORANGE 200ML 10 item_price FIT O ORANGE 200ML 10 quantity_sold FIT O ORANGE 200ML 10 total_earning
FIT O ORANGE 200ML 11 item_price FIT O ORANGE 200ML 11 quantity_sold FIT O ORANGE 200ML 11 total_earning
FIT O ORANGE 200ML 12 item_price FIT O ORANGE 200ML 12 quantity_sold FIT O ORANGE 200ML 12 total_earning
CREAM SODA APPLE POP 1L 10 item_price CREAM SODA APPLE POP 1L 10 quantity_sold CREAM SODA APPLE POP 1L 10 total_earning
CREAM SODA APPLE POP 1L 11 item_price CREAM SODA APPLE POP 1L 11 quantity_sold CREAM SODA APPLE POP 1L 11 total_earning
CREAM SODA APPLE POP 1L 12 item_price CREAM SODA APPLE POP 1L 12 quantity_sold CREAM SODA APPLE POP 1L 12 total_earning
BOTTLED DRINKING WATER 500ML 10 item_price BOTTLED DRINKING WATER 500ML 10 quantity_sold BOTTLED DRINKING WATER 500ML 10 total_earning
BOTTLED DRINKING WATER 500ML 11 item_price BOTTLED DRINKING WATER 500ML 11 quantity_sold BOTTLED DRINKING WATER 500ML 11 total_earning
BOTTLED DRINKING WATER 500ML 12 item_price BOTTLED DRINKING WATER 500ML 12 quantity_sold BOTTLED DRINKING WATER 500ML 12 total_earning
SODA 500ML 10 item_price SODA 500ML 10 quantity_sold SODA 500ML 10 total_earning
SODA 500ML 11 item_price SODA 500ML 11 quantity_sold SODA 500ML 11 total_earning
SODA 500ML 12 item_price SODA 500ML 12 quantity_sold SODA 500ML 12 total_earning
GINGER BEER 500ML 10 item_price GINGER BEER 500ML 10 quantity_sold GINGER BEER 500ML 10 total_earning
GINGER BEER 500ML 11 item_price GINGER BEER 500ML 11 quantity_sold GINGER BEER 500ML 11 total_earning
GINGER BEER 500ML 12 item_price GINGER BEER 500ML 12 quantity_sold GINGER BEER 500ML 12 total_earning
SODA 1L 10 item_price SODA 1L 10 quantity_sold SODA 1L 10 total_earning
SODA 1L 11 item_price SODA 1L 11 quantity_sold SODA 1L 11 total_earning
SODA 1L 12 item_price SODA 1L 12 quantity_sold SODA 1L 12 total_earning
NECTO 500ML 10 item_price NECTO 500ML 10 quantity_sold NECTO 500ML 10 total_earning
NECTO 500ML 11 item_price NECTO 500ML 11 quantity_sold NECTO 500ML 11 total_earning
NECTO 500ML 12 item_price NECTO 500ML 12 quantity_sold NECTO 500ML 12 total_earning
ORANGE CRUSH 500ML 10 item_price ORANGE CRUSH 500ML 10 quantity_sold ORANGE CRUSH 500ML 10 total_earning
ORANGE CRUSH 500ML 11 item_price ORANGE CRUSH 500ML 11 quantity_sold ORANGE CRUSH 500ML 11 total_earning
ORANGE CRUSH 500ML 12 item_price ORANGE CRUSH 500ML 12 quantity_sold ORANGE CRUSH 500ML 12 total_earning
BOTTLED DRINKING WATER 1.5L 10 item_price BOTTLED DRINKING WATER 1.5L 10 quantity_sold BOTTLED DRINKING WATER 1.5L 10 total_earning
BOTTLED DRINKING WATER 1.5L 11 item_price BOTTLED DRINKING WATER 1.5L 11 quantity_sold BOTTLED DRINKING WATER 1.5L 11 total_earning
BOTTLED DRINKING WATER 1.5L 12 item_price BOTTLED DRINKING WATER 1.5L 12 quantity_sold BOTTLED DRINKING WATER 1.5L 12 total_earning
NECTO 1L 10 item_price NECTO 1L 10 quantity_sold NECTO 1L 10 total_earning
NECTO 1L 11 item_price NECTO 1L 11 quantity_sold NECTO 1L 11 total_earning
NECTO 1L 12 item_price NECTO 1L 12 quantity_sold NECTO 1L 12 total_earning
GINGER BEER SUGAR FREE 500ML 10 item_price GINGER BEER SUGAR FREE 500ML 10 quantity_sold GINGER BEER SUGAR FREE 500ML 10 total_earning
GINGER BEER SUGAR FREE 500ML 11 item_price GINGER BEER SUGAR FREE 500ML 11 quantity_sold GINGER BEER SUGAR FREE 500ML 11 total_earning
GINGER BEER SUGAR FREE 500ML 12 item_price GINGER BEER SUGAR FREE 500ML 12 quantity_sold GINGER BEER SUGAR FREE 500ML 12 total_earning
ORANGE CRUSH 1.5L 10 item_price ORANGE CRUSH 1.5L 10 quantity_sold ORANGE CRUSH 1.5L 10 total_earning
ORANGE CRUSH 1.5L 11 item_price ORANGE CRUSH 1.5L 11 quantity_sold ORANGE CRUSH 1.5L 11 total_earning
ORANGE CRUSH 1.5L 12 item_price ORANGE CRUSH 1.5L 12 quantity_sold ORANGE CRUSH 1.5L 12 total_earning
DRY GINGER ALE PET 500ML 10 item_price DRY GINGER ALE PET 500ML 10 quantity_sold DRY GINGER ALE PET 500ML 10 total_earning
DRY GINGER ALE PET 500ML 11 item_price DRY GINGER ALE PET 500ML 11 quantity_sold DRY GINGER ALE PET 500ML 11 total_earning
DRY GINGER ALE PET 500ML 12 item_price DRY GINGER ALE PET 500ML 12 quantity_sold DRY GINGER ALE PET 500ML 12 total_earning
LEMONADE 1L 10 item_price LEMONADE 1L 10 quantity_sold LEMONADE 1L 10 total_earning
LEMONADE 1L 11 item_price LEMONADE 1L 11 quantity_sold LEMONADE 1L 11 total_earning
LEMONADE 1L 12 item_price LEMONADE 1L 12 quantity_sold LEMONADE 1L 12 total_earning
ORANGE CRUSH 1L 10 item_price ORANGE CRUSH 1L 10 quantity_sold ORANGE CRUSH 1L 10 total_earning
ORANGE CRUSH 1L 11 item_price ORANGE CRUSH 1L 11 quantity_sold ORANGE CRUSH 1L 11 total_earning
ORANGE CRUSH 1L 12 item_price ORANGE CRUSH 1L 12 quantity_sold ORANGE CRUSH 1L 12 total_earning
GINGER BEER 400ML 10 item_price GINGER BEER 400ML 10 quantity_sold GINGER BEER 400ML 10 total_earning
GINGER BEER 400ML 11 item_price GINGER BEER 400ML 11 quantity_sold GINGER BEER 400ML 11 total_earning
GINGER BEER 400ML 12 item_price GINGER BEER 400ML 12 quantity_sold GINGER BEER 400ML 12 total_earning
CHOCOLATE MILK 180ML 10 item_price CHOCOLATE MILK 180ML 10 quantity_sold CHOCOLATE MILK 180ML 10 total_earning
CHOCOLATE MILK 180ML 11 item_price CHOCOLATE MILK 180ML 11 quantity_sold CHOCOLATE MILK 180ML 11 total_earning
CHOCOLATE MILK 180ML 12 item_price CHOCOLATE MILK 180ML 12 quantity_sold CHOCOLATE MILK 180ML 12 total_earning
LIME CRUSH JUICE 1L 10 item_price LIME CRUSH JUICE 1L 10 quantity_sold LIME CRUSH JUICE 1L 10 total_earning
LIME CRUSH JUICE 1L 11 item_price LIME CRUSH JUICE 1L 11 quantity_sold LIME CRUSH JUICE 1L 11 total_earning
LIME CRUSH JUICE 1L 12 item_price LIME CRUSH JUICE 1L 12 quantity_sold LIME CRUSH JUICE 1L 12 total_earning

,shop_id,shop_area_sq_ft,shop_profile,ORANGE BARLEY 1.5L 10 item_price,ORANGE BARLEY 1.5L 11 item_price,ORANGE BARLEY 1.5L 12 item_price,GINGER BEER 1.5L 10 item_price,GINGER BEER 1.5L 11 item_price,GINGER BEER 1.5L 12 item_price,TONIC PET 500ML 10 item_price,...,ORANGE CRUSH 1L 12 total_earning,GINGER BEER 400ML 10 total_earning,GINGER BEER 400ML 11 total_earning,GINGER BEER 400ML 12 total_earning,CHOCOLATE MILK 180ML 10 total_earning,CHOCOLATE MILK 180ML 11 total_earning,CHOCOLATE MILK 180ML 12 total_earning,LIME CRUSH JUICE 1L 10 total_earning,LIME CRUSH JUICE 1L 11 total_earning,LIME CRUSH JUICE 1L 12 total_earning
0,SHOP047,528,Moderate,220,220,220,220,220,220,160,...,750,4200,500,400,0,0,0,0,0,0
1,SHOP009,676,High,220,220,220,220,220,220,160,...,450,1900,3500,1500,0,0,0,0,0,0
2,SHOP083,676,Low,220,220,220,220,220,220,160,...,750,700,1300,900,0,0,630,0,0,0
3,SHOP117,676,Low,220,220,220,220,220,220,160,...,2100,1200,3200,1200,0,0,0,0,0,0
4,SHOP042,676,Low,220,220,220,220,220,220,320,...,600,1000,2200,1500,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,SHOP087,527,NaN,220,220,220,220,220,220,150,...,1650,1500,1400,0,0,0,0,0,0,0
120,SHOP050,411,NaN,220,220,220,220,220,220,160,...,0,2000,1500,500,0,0,0,0,0,0
121,SHOP061,699,NaN,220,220,220,220,220,220,320,...,750,800,1000,2100,0,0,0,0,0,0
122,SHOP056,597,NaN,220,220,220,220,220,220,160,...,2700,2000,3400,1200,0,0,0,0,0,0
123,SHOP070,676,NaN,220,220,220,220,220,220,160,...,750,200,2200,1100,0,0,840,0,0,0

In [55]:
# stores3.to_csv('store_info_final.csv')
stores3 = pd.read_csv('Testing-data.csv')
stores3

,shop_id,shop_area_sq_ft,ORANGE BARLEY 1.5L 10 item_price,ORANGE BARLEY 1.5L 11 item_price,ORANGE BARLEY 1.5L 12 item_price,GINGER BEER 1.5L 10 item_price,GINGER BEER 1.5L 11 item_price,GINGER BEER 1.5L 12 item_price,TONIC PET 500ML 10 item_price,TONIC PET 500ML 11 item_price,...,ORANGE CRUSH 1L 12 total_earning,GINGER BEER 400ML 10 total_earning,GINGER BEER 400ML 11 total_earning,GINGER BEER 400ML 12 total_earning,CHOCOLATE MILK 180ML 10 total_earning,CHOCOLATE MILK 180ML 11 total_earning,CHOCOLATE MILK 180ML 12 total_earning,LIME CRUSH JUICE 1L 10 total_earning,LIME CRUSH JUICE 1L 11 total_earning,LIME CRUSH JUICE 1L 12 total_earning
0,SHOP046,545,220,220,220,220,220,220,160,160,...,1200,500,3100,1500,0,0,0,0,0,0
1,SHOP024,676,220,220,220,220,220,220,160,160,...,1650,2000,4900,1200,0,0,0,0,0,0
2,SHOP023,617,220,220,220,220,220,220,160,160,...,450,300,300,500,0,0,280,0,0,0
3,SHOP097,310,220,220,220,220,220,220,160,160,...,0,700,1500,1000,0,0,0,0,0,0
4,SHOP044,715,220,220,220,220,220,220,160,160,...,1050,800,1100,700,0,0,0,0,0,0
5,SHOP030,530,220,220,220,220,220,220,160,160,...,600,1900,3100,1200,0,0,0,0,0,0
6,SHOP038,411,220,220,220,220,220,220,160,160,...,0,2100,2600,800,0,0,0,0,0,0
7,SHOP029,597,220,220,220,220,220,220,160,160,...,900,200,500,4500,0,0,0,0,0,0
8,SHOP096,676,220,220,220,220,220,220,320,160,...,750,560,3500,700,0,0,0,0,0,0
9,SHOP092,617,220,220,220,220,220,220,150,160,...,1650,2100,2400,2800,0,0,0,0,0,0
10,SHOP081,774,220,220,220,220,220,220,160,320,...,600,2300,1000,1100,0,0,0,0,0,0
11,SHOP076,676,220,220,220,220,220,220,160,160,...,1950,2200,2300,1000,0,0,0,0,0,0
12,SHOP080,554,220,220,220,220,220,220,160,300,...,900,300,1100,3600,0,0,0,0,0,0
13,SHOP074,617,220,220,220,220,220,220,160,160,...,1950,200,1000,1900,0,0,0,0,0,0
14,SHOP107,588,220,220,220,220,220,220,160,160,...,600,200,1400,1600,0,0,3360,0,0,0
15,SHOP108,676,220,220,220,220,220,220,160,160,...,150,1700,1400,1500,0,0,0,0,0,0
16,SHOP019,411,220,220,220,220,220,220,160,160,...,0,1100,1400,500,0,0,0,0,0,0
17,SHOP002,637,220,220,220,220,220,220,160,160,...,2400,1100,1700,900,0,0,0,0,0,0
18,SHOP114,513,220,220,220,220,220,220,160,160,...,1200,1700,3200,1800,0,0,840,0,0,0
19,SHOP087,527,220,220,220,220,220,220,150,160,...,1650,1500,1400,0,0,0,0,0,0,0
20,SHOP050,411,220,220,220,220,220,220,160,160,...,0,2000,1500,500,0,0,0,0,0,0
21,SHOP061,699,220,220,220,220,220,220,320,160,...,750,800,1000,2100,0,0,0,0,0,0
22,SHOP056,597,220,220,220,220,220,220,160,160,...,2700,2000,3400,1200,0,0,0,0,0,0
23,SHOP070,676,220,220,220,220,220,220,160,160,...,750,200,2200,1100,0,0,840,0,0,0

In [56]:
len(header_lst_quantity_sold),len(header_lst_total_earning)

(112, 112)

In [57]:
grand_quantity_sold = 0
grand_earning = 0 
for i in range(1,112):
    print(stores3[header_lst_quantity_sold[i]])
    grand_quantity_sold+=stores3[header_lst_quantity_sold[i]]
    grand_earning+=stores3[header_lst_total_earning[i]]
print(grand_earning)
print(grand_quantity_sold)

0     212
1     193
2     362
3     157
4     190
5     680
6     261
7     257
8     563
9     191
10    155
11    346
12    264
13    333
14     81
15    432
16    521
17    359
18    273
19    156
20    488
21    238
22    454
23    245
Name: ORANGE BARLEY 1.5L 10 quantity_sold, dtype: int64
0      13
1      12
2      40
3      26
4      17
5      20
6      17
7      29
8      64
9      66
10     27
11     36
12     13
13    100
14     19
15     22
16     48
17     17
18     26
19     12
20     57
21     31
22     59
23     23
Name: ORANGE BARLEY 1.5L 11 quantity_sold, dtype: int64
0     10
1     14
2     33
3     23
4     10
5     14
6      5
7     16
8     22
9     46
10    18
11    22
12    10
13    53
14     1
15    10
16    33
17    12
18    20
19     8
20    23
21    14
22    31
23    21
Name: ORANGE BARLEY 1.5L 12 quantity_sold, dtype: int64
0     142
1     104
2     180
3     159
4     111
5     156
6     204
7     132
8     245
9     200
10    132
11    138
12     92
13    236
14     43
15    210
16    154
17    275
18    179
19    149
20    250
21    188
22    240
23    162
Name: GINGER BEER 1.5L 10 quantity_sold, dtype: int64
0     192
1     186
2     303
3     189
4     123
5     147
6     208
7     180
8     351
9     253
10    212
11    244
12    106
13    379
14     74
15    295
16    198
17    283
18    191
19    143
20    343
21    230
22    297
23    218
Name: GINGER BEER 1.5L 11 quantity_sold, dtype: int64
0     339
1     278
2     410
3     321
4     310
5     375
6     394
7     527
8     720
9     381
10    233
11    572
12    277
13    599
14    143
15    582
16    503
17    640
18    394
19    239
20    738
21    394
22    550
23    502
Name: GINGER BEER 1.5L 12 quantity_sold, dtype: int64
0      81
1      20
2      53
3     155
4      83
5      77
6      51
7      52
8      48
9      48
10     58
11     43
12     26
13     84
14     20
15     73
16     44
17     74
18     88
19     41
20     76
21     51
22     47
23     17
Name: TONIC PET 500ML 10 quantity_sold, dtype: int64
0     143
1      63
2     115
3     322
4     131
5     104
6      92
7      64
8      53
9      57
10     97
11    121
12     22
13    113
14     69
15     85
16     56
17    180
18    114
19     93
20     77
21     72
22     83
23     35
Name: TONIC PET 500ML 11 quantity_sold, dtype: int64
0      81
1      45
2      45
3     174
4      66
5      68
6      24
7      39
8      35
9      42
10     70
11     46
12     33
13     31
14     43
15     61
16     35
17     76
18     51
19     34
20     48
21     38
22     55
23     30
Name: TONIC PET 500ML 12 quantity_sold, dtype: int64
0     19
1     17
2     11
3      0
4      3
5     10
6      0
7     24
8     14
9     10
10    11
11     8
12     9
13    28
14     0
15     7
16     0
17     6
18    14
19     2
20     0
21    14
22    29
23     9
Name: CREAM SODA 1L 10 quantity_sold, dtype: int64
0     24
1     17
2     34
3      0
4     14
5     14
6      0
7     18
8     21
9     33
10     5
11     5
12    14
13    32
14     7
15    35
16     0
17    30
18    28
19     4
20     0
21     9
22    31
23     8
Name: CREAM SODA 1L 11 quantity_sold, dtype: int64
0      6
1     16
2     18
3      0
4      3
5     11
6      0
7     13
8     16
9     21
10    10
11     9
12    20
13    26
14    13
15     7
16     0
17    28
18    10
19     7
20     0
21     9
22    22
23     9
Name: CREAM SODA 1L 12 quantity_sold, dtype: int64
0     15
1     16
2     31
3     19
4     18
5     25
6     12
7     14
8      4
9     26
10    38
11    54
12     6
13    29
14     5
15    29
16    19
17    14
18     8
19     6
20    17
21    15
22    98
23    10
Name: STRAWBERRY MILK 180ML 10 quantity_sold, dtype: int64
0      28
1      35
2      34
3      51
4      27
5     140
6      40
7      66
8      50
9      48
10     90
11     53
12     30
13     68
14    106
15     48
16     52
17     36
18     66
19     20
20     18
21     54
22     98
23     37
Name: STRAWBERRY MILK 180ML 11 quantity_sold, dtype: int64
0     29
1     11
2     11
3     15
4     10
5     93
6      3
7     36
8     39
9     10
10    62
11    35
12    25
13    51
14    29
15    21
16    29
17     3
18    17
19     5
20    36
21    41
22    44
23    38
Name: STRAWBERRY MILK 180ML 12 quantity_sold, dtype: int64
0     165
1     136
2     176
3      76
4      89
5     186
6      76
7      91
8     232
9     107
10     80
11    103
12     61
13    231
14     40
15    293
16    158
17    224
18     91
19     97
20    206
21    134
22    205
23    143
Name: CREAM SODA 1.5L 10 quantity_sold, dtype: int64
0     316
1     261
2     487
3     139
4     177
5     369
6     282
7     328
8     502
9     288
10    136
11    362
12    261
13    337
14     86
15    335
16    644
17    615
18    280
19    196
20    468
21    265
22    478
23    201
Name: CREAM SODA 1.5L 11 quantity_sold, dtype: int64
0     207
1     119
2     319
3      86
4      99
5     172
6     106
7     251
8     370
9     133
10    105
11    103
12    160
13    305
14     63
15    277
16    247
17    263
18    122
19    117
20    345
21    215
22    372
23    192
Name: CREAM SODA 1.5L 12 quantity_sold, dtype: int64
0      4
1     12
2     22
3     27
4      9
5     13
6     23
7     28
8     39
9     36
10    47
11    63
12    17
13    33
14     4
15    20
16    50
17    24
18    25
19    14
20    27
21    28
22    39
23    26
Name: TWISTEE APPLE 1L 10 quantity_sold, dtype: int64
0     11
1     23
2     16
3      9
4     21
5     25
6     23
7     48
8     22
9     29
10    22
11    11
12    12
13    34
14     7
15    21
16    15
17    29
18    25
19    12
20    11
21    29
22    23
23    52
Name: TWISTEE APPLE 1L 11 quantity_sold, dtype: int64
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14    11
15     2
16     0
17     0
18     0
19     2
20     0
21     0
22     0
23     0
Name: TWISTEE APPLE 1L 12 quantity_sold, dtype: int64
0      37
1      45
2     124
3      31
4      40
5      88
6      55
7      21
8      40
9      48
10     30
11     55
12     17
13     65
14     10
15     45
16     28
17     43
18     32
19     10
20     87
21     47
22     90
23     36
Name: FIT O MIXED FRUIT 200ML 10 quantity_sold, dtype: int64
0      49
1      54
2      98
3      61
4      25
5     108
6      67
7      71
8      65
9      45
10     75
11     68
12     39
13     62
14     43
15     34
16     47
17     43
18    116
19     11
20     34
21    135
22    195
23     44
Name: FIT O MIXED FRUIT 200ML 11 quantity_sold, dtype: int64
0     26
1     13
2     52
3     36
4     14
5     73
6     37
7     35
8     57
9     23
10    41
11    25
12     8
13    35
14    19
15    32
16    17
17    43
18    19
19     6
20    19
21    33
22    94
23    24
Name: FIT O MIXED FRUIT 200ML 12 quantity_sold, dtype: int64
0     111
1      64
2      90
3      88
4     104
5      76
6      48
7      58
8      63
9      57
10     50
11     83
12     18
13    164
14     21
15     58
16     64
17    135
18     90
19     28
20     78
21     81
22     41
23     53
Name: SODA PET 1.5L 10 quantity_sold, dtype: int64
0     149
1      93
2     208
3     130
4     154
5      99
6      62
7      90
8     112
9      81
10     63
11     71
12     46
13    269
14     40
15     71
16     45
17    226
18    105
19     72
20    149
21    137
22     87
23     85
Name: SODA PET 1.5L 11 quantity_sold, dtype: int64
0      60
1      31
2     113
3      63
4     100
5      48
6      41
7      30
8      33
9      51
10     46
11     43
12     23
13    137
14     19
15     44
16     47
17     92
18     58
19     50
20     65
21     79
22     43
23     46
Name: SODA PET 1.5L 12 quantity_sold, dtype: int64
0     22
1     10
2     13
3     16
4      9
5      9
6      4
7     16
8      4
9      8
10    16
11     9
12     8
13     8
14     2
15    13
16     5
17    29
18    13
19     5
20    11
21    21
22    10
23     3
Name: FIT O MIXED FRUIT 1L 10 quantity_sold, dtype: int64
0      65
1      52
2      71
3      64
4      26
5      65
6      85
7      83
8      90
9      43
10     74
11     91
12     51
13     79
14     30
15     41
16     68
17     58
18    102
19     42
20     62
21     54
22     97
23     49
Name: FIT O MIXED FRUIT 1L 11 quantity_sold, dtype: int64
0     18
1      8
2     16
3      3
4     19
5      9
6      8
7      7
8     22
9     25
10    23
11    16
12     9
13    38
14    58
15    13
16     3
17    42
18    13
19     8
20     6
21    96
22    25
23    10
Name: FIT O MIXED FRUIT 1L 12 quantity_sold, dtype: int64
0     13
1      5
2     18
3      3
4      8
5      4
6     11
7     10
8     14
9      1
10     4
11     5
12    10
13    10
14     6
15     4
16    16
17    18
18    10
19     8
20    10
21    13
22     4
23     0
Name: KIK COLA 1L 10 quantity_sold, dtype: int64
0      9
1      6
2      7
3      5
4     10
5     15
6     12
7     10
8     21
9     24
10     3
11    13
12    14
13    19
14     2
15     6
16    25
17    25
18    10
19     6
20    15
21    23
22    16
23    13
Name: KIK COLA 1L 11 quantity_sold, dtype: int64
0      6
1      7
2      2
3      4
4     10
5     19
6      7
7      5
8     10
9      5
10     0
11     1
12     8
13    14
14    13
15     4
16     7
17     6
18    12
19     6
20    11
21    10
22    20
23     6
Name: KIK COLA 1L 12 quantity_sold, dtype: int64
0     27
1     14
2     10
3     24
4     15
5     33
6     10
7      9
8     27
9     20
10    27
11    23
12     5
13    30
14    17
15    28
16    15
17    29
18    22
19     8
20    21
21     6
22    35
23     6
Name: LEMONADE 500ML 10 quantity_sold, dtype: int64
0     32
1      8
2      5
3     35
4     24
5     38
6     43
7     45
8     41
9     54
10    38
11    34
12    15
13    55
14    25
15    22
16    34
17    47
18    30
19    26
20    52
21    12
22    72
23    27
Name: LEMONADE 500ML 11 quantity_sold, dtype: int64
0     10
1      7
2      7
3     25
4      8
5      6
6      8
7     21
8     30
9     24
10    34
11    18
12     8
13    28
14    11
15    21
16    13
17    24
18    19
19    12
20    32
21     6
22    44
23     7
Name: LEMONADE 500ML 12 quantity_sold, dtype: int64
0     31
1     32
2     22
3     50
4     22
5     27
6     51
7     49
8     35
9     40
10    35
11    21
12    18
13    59
14    42
15    33
16    26
17    33
18    33
19    11
20    23
21    21
22    50
23    23
Name: FIT O ORANGE 1L 10 quantity_sold, dtype: int64
0      90
1      85
2      83
3     161
4      42
5      97
6      96
7     151
8     108
9     120
10    107
11     81
12     81
13    128
14     64
15     92
16    104
17     72
18    177
19     35
20     99
21     86
22    186
23     98
Name: FIT O ORANGE 1L 11 quantity_sold, dtype: int64
0      72
1      24
2      60
3     106
4      37
5      38
6      69
7      66
8      52
9      81
10     64
11     78
12     35
13     32
14     45
15     51
16     44
17     46
18     86
19     27
20     71
21     35
22    112
23     38
Name: FIT O ORANGE 1L 12 quantity_sold, dtype: int64
0     65
1     39
2     43
3     20
4      7
5     44
6     54
7      9
8     39
9     36
10     9
11    26
12    23
13    47
14    31
15    21
16    35
17    36
18    31
19    17
20    19
21    26
22    59
23     9
Name: NECTO 1.5L 10 quantity_sold, dtype: int64
0      75
1      86
2      50
3      43
4      15
5      36
6      72
7      36
8      72
9      58
10     18
11     65
12     45
13     67
14      6
15     60
16     89
17    106
18     43
19     30
20     42
21     45
22     53
23     26
Name: NECTO 1.5L 11 quantity_sold, dtype: int64
0     320
1     205
2     298
3     152
4     127
5     443
6     322
7     230
8     529
9     145
10     85
11    314
12    297
13    308
14     61
15    297
16    471
17    583
18    270
19    105
20    369
21    215
22    407
23    139
Name: NECTO 1.5L 12 quantity_sold, dtype: int64
0      32
1      27
2      57
3      62
4      13
5      28
6      29
7      17
8      37
9      46
10     39
11     24
12     16
13     61
14     13
15     39
16     83
17     46
18     52
19     37
20     47
21     46
22    100
23     14
Name: LEMONADE 1.5L 10 quantity_sold, dtype: int64
0      30
1      31
2      76
3      83
4      25
5      39
6      36
7      47
8      59
9      80
10     53
11     29
12     11
13    121
14     12
15     52
16     94
17     84
18     48
19     41
20     61
21     56
22    125
23     31
Name: LEMONADE 1.5L 11 quantity_sold, dtype: int64
0      43
1      15
2      70
3      65
4      28
5      43
6      56
7      59
8      80
9      74
10     45
11     41
12     34
13    142
14      3
15     68
16    121
17     94
18     77
19     44
20    117
21     79
22    153
23     46
Name: LEMONADE 1.5L 12 quantity_sold, dtype: int64
0      92
1      49
2      84
3       0
4      38
5      33
6       0
7     115
8     109
9      69
10     76
11     52
12     72
13    218
14     55
15    123
16      0
17     28
18    181
19     92
20      0
21    116
22    110
23     86
Name: GINGER BEER 1L 10 quantity_sold, dtype: int64
0      96
1      97
2     125
3       0
4      93
5     124
6       0
7     244
8     120
9     190
10    115
11    127
12    123
13    239
14     66
15    145
16      0
17    142
18    109
19    104
20      0
21    219
22    152
23    187
Name: GINGER BEER 1L 11 quantity_sold, dtype: int64
0      46
1      48
2      64
3       0
4      79
5      57
6       0
7     139
8      75
9      92
10     25
11     56
12     57
13     73
14     20
15    106
16      0
17     54
18     89
19     58
20      0
21     71
22    161
23     55
Name: GINGER BEER 1L 12 quantity_sold, dtype: int64
0     32
1     11
2     79
3     34
4     35
5     53
6     27
7     39
8     26
9     30
10    22
11    38
12    20
13    59
14    44
15    24
16    38
17    34
18    35
19    11
20    33
21    14
22    65
23    11
Name: FIT O MANGO 200ML 10 quantity_sold, dtype: int64
0      25
1      30
2      59
3      47
4      38
5      47
6      62
7      69
8      44
9     110
10     81
11     42
12     40
13     60
14     48
15     19
16     58
17     62
18    104
19     17
20     48
21     59
22    119
23     29
Name: FIT O MANGO 200ML 11 quantity_sold, dtype: int64
0     28
1     25
2     31
3     24
4      4
5     20
6     11
7     50
8     22
9     19
10    42
11    35
12     5
13    63
14    29
15    20
16    20
17    26
18    34
19    13
20    39
21    40
22    92
23    20
Name: FIT O MANGO 200ML 12 quantity_sold, dtype: int64
0      28
1      45
2      46
3      58
4      34
5      72
6      55
7      66
8      58
9      48
10     59
11     55
12     30
13     68
14     11
15     46
16     75
17     36
18    117
19     21
20     58
21     53
22     82
23     35
Name: FIT O MANGO 1L 10 quantity_sold, dtype: int64
0     14
1     19
2     36
3     20
4      3
5     29
6     12
7     25
8     10
9     26
10    24
11    22
12    10
13    25
14    13
15    10
16    20
17     7
18    20
19     5
20     9
21     9
22    42
23     4
Name: FIT O MANGO 1L 11 quantity_sold, dtype: int64
0     22
1     12
2     12
3      9
4      4
5     15
6      4
7     21
8     10
9     15
10    22
11    10
12     5
13    33
14    39
15    15
16     8
17    23
18    12
19     6
20    11
21    12
22    31
23    11
Name: FIT O MANGO 1L 12 quantity_sold, dtype: int64
0     146
1      76
2     142
3      69
4     103
5     121
6      81
7      76
8     185
9     158
10     93
11    111
12     71
13    197
14     38
15    141
16    237
17    181
18    142
19     47
20    100
21     72
22    237
23     34
Name: CREAM SODA 500ML 10 quantity_sold, dtype: int64
0     125
1     241
2     272
3     110
4     114
5     128
6     172
7     150
8     317
9     280
10    223
11    211
12    134
13    235
14     76
15    214
16    319
17    380
18    315
19    143
20    177
21     98
22    294
23    117
Name: CREAM SODA 500ML 11 quantity_sold, dtype: int64
0      80
1      73
2     157
3     117
4      60
5      55
6     149
7     120
8     194
9      96
10    209
11    155
12     66
13    153
14     41
15    209
16    190
17    233
18    190
19     61
20    167
21     49
22    199
23     83
Name: CREAM SODA 500ML 12 quantity_sold, dtype: int64
0     41
1     17
2     27
3     26
4     24
5     80
6     71
7     51
8     62
9     50
10    38
11    38
12    37
13    50
14    47
15    26
16    43
17    47
18    75
19    13
20    62
21    28
22    89
23    19
Name: FIT O ORANGE 200ML 10 quantity_sold, dtype: int64
0      46
1      39
2      37
3      50
4      22
5     122
6      95
7     111
8      99
9     132
10    119
11     43
12     50
13     45
14     97
15     22
16     69
17     70
18    162
19     51
20     65
21     32
22    171
23     54
Name: FIT O ORANGE 200ML 11 quantity_sold, dtype: int64
0      25
1      20
2      42
3      53
4      20
5      67
6      49
7      42
8      52
9      33
10     94
11     47
12     18
13    101
14     41
15     24
16     38
17     35
18     62
19     29
20     31
21     44
22    100
23     63
Name: FIT O ORANGE 200ML 12 quantity_sold, dtype: int64
0      42
1      20
2      61
3      41
4      27
5      91
6      32
7      64
8      53
9      42
10     23
11     59
12     59
13    131
14     28
15     56
16     43
17     49
18     47
19     24
20     76
21     61
22    114
23     36
Name: CREAM SODA APPLE POP 1L 10 quantity_sold, dtype: int64
0      53
1      38
2      63
3      39
4      21
5     146
6      43
7      70
8      54
9      53
10     46
11     55
12     47
13    121
14     47
15     60
16     92
17     61
18     83
19     32
20     75
21     76
22    137
23     75
Name: CREAM SODA APPLE POP 1L 11 quantity_sold, dtype: int64
0     29
1     15
2     45
3     17
4     16
5     70
6     19
7     50
8     51
9     43
10    41
11    27
12    65
13    68
14    28
15    43
16    73
17    57
18    58
19    38
20    60
21    53
22    87
23    59
Name: CREAM SODA APPLE POP 1L 12 quantity_sold, dtype: int64
0     165
1      69
2      66
3      72
4       4
5     155
6      80
7     114
8      71
9      81
10    271
11    105
12     36
13     23
14    281
15     99
16     21
17    120
18    116
19     49
20     28
21     40
22     93
23     39
Name: BOTTLED DRINKING WATER 500ML 10 quantity_sold, dtype: int64
0     365
1     154
2      97
3     147
4      11
5     137
6     112
7     191
8     125
9      94
10    213
11    175
12     58
13    171
14    281
15    171
16     88
17    198
18    223
19     62
20     91
21    104
22    173
23     34
Name: BOTTLED DRINKING WATER 500ML 11 quantity_sold, dtype: int64
0     212
1      41
2      26
3      95
4       6
5     110
6     116
7      91
8      80
9     107
10    201
11     62
12     43
13     32
14     95
15    160
16     27
17     62
18    141
19     24
20     30
21     89
22    174
23     27
Name: BOTTLED DRINKING WATER 500ML 12 quantity_sold, dtype: int64
0      62
1      29
2      60
3     148
4     115
5      60
6      47
7      60
8      94
9      41
10     73
11     71
12     46
13     83
14     83
15     70
16     54
17    116
18     83
19     25
20     70
21     55
22     54
23     33
Name: SODA 500ML 10 quantity_sold, dtype: int64
0     137
1      61
2     108
3     243
4     178
5      74
6      86
7     115
8     148
9      99
10     73
11    104
12     49
13    132
14    142
15    100
16     93
17    176
18    102
19     48
20    116
21     84
22    176
23     71
Name: SODA 500ML 11 quantity_sold, dtype: int64
0      76
1      26
2      61
3      97
4      83
5      67
6      30
7      63
8      40
9      20
10     67
11     68
12     26
13     82
14    179
15     64
16     32
17     74
18     55
19     32
20     59
21     46
22     81
23     36
Name: SODA 500ML 12 quantity_sold, dtype: int64
0     32
1     33
2     56
3     75
4     17
5     40
6     58
7     30
8     42
9     46
10    89
11    39
12    21
13    52
14    41
15    49
16    32
17    37
18    72
19    16
20    39
21    31
22    87
23    13
Name: GINGER BEER 500ML 10 quantity_sold, dtype: int64
0      53
1      65
2      49
3      86
4      61

In [44]:
stores3[header_lst_quantity_sold[1]]+stores3[header_lst_quantity_sold[111]]

0     106
1     290
2     259
3     295
4     217
     ...
95    225
96    133
97    115
98    259
99    386
Length: 100, dtype: int64

In [58]:
stores3['grand_quantity_Sold'] = grand_quantity_sold
stores3['grand_earning'] = grand_earning
stores3

,shop_id,shop_area_sq_ft,ORANGE BARLEY 1.5L 10 item_price,ORANGE BARLEY 1.5L 11 item_price,ORANGE BARLEY 1.5L 12 item_price,GINGER BEER 1.5L 10 item_price,GINGER BEER 1.5L 11 item_price,GINGER BEER 1.5L 12 item_price,TONIC PET 500ML 10 item_price,TONIC PET 500ML 11 item_price,...,GINGER BEER 400ML 11 total_earning,GINGER BEER 400ML 12 total_earning,CHOCOLATE MILK 180ML 10 total_earning,CHOCOLATE MILK 180ML 11 total_earning,CHOCOLATE MILK 180ML 12 total_earning,LIME CRUSH JUICE 1L 10 total_earning,LIME CRUSH JUICE 1L 11 total_earning,LIME CRUSH JUICE 1L 12 total_earning,grand_quantity_Sold,grand_earning
0,SHOP046,545,220,220,220,220,220,220,160,160,...,3100,1500,0,0,0,0,0,0,6555,990880
1,SHOP024,676,220,220,220,220,220,220,160,160,...,4900,1200,0,0,0,0,0,0,4785,776460
2,SHOP023,617,220,220,220,220,220,220,160,160,...,300,500,0,0,280,0,0,0,7026,1174995
3,SHOP097,310,220,220,220,220,220,220,160,160,...,1500,1000,0,0,0,0,0,0,6049,932490
4,SHOP044,715,220,220,220,220,220,220,160,160,...,1100,700,0,0,0,0,0,0,4458,704395
5,SHOP030,530,220,220,220,220,220,220,160,160,...,3100,1200,0,0,0,0,0,0,7121,1130450
6,SHOP038,411,220,220,220,220,220,220,160,160,...,2600,800,0,0,0,0,0,0,5376,871840
7,SHOP029,597,220,220,220,220,220,220,160,160,...,500,4500,0,0,0,0,0,0,6487,1047780
8,SHOP096,676,220,220,220,220,220,220,320,160,...,3500,700,0,0,0,0,0,0,8083,1387230
9,SHOP092,617,220,220,220,220,220,220,150,160,...,2400,2800,0,0,0,0,0,0,6251,999630
10,SHOP081,774,220,220,220,220,220,220,160,320,...,1000,1100,0,0,0,0,0,0,5857,835135
11,SHOP076,676,220,220,220,220,220,220,160,160,...,2300,1000,0,0,0,0,0,0,6289,1029380
12,SHOP080,554,220,220,220,220,220,220,160,300,...,1100,3600,0,0,0,0,0,0,4027,682795
13,SHOP074,617,220,220,220,220,220,220,160,160,...,1000,1900,0,0,0,0,0,0,8764,1463170
14,SHOP107,588,220,220,220,220,220,220,160,160,...,1400,1600,0,0,3360,0,0,0,3985,497115
15,SHOP108,676,220,220,220,220,220,220,160,160,...,1400,1500,0,0,0,0,0,0,6879,1138010
16,SHOP019,411,220,220,220,220,220,220,160,160,...,1400,500,0,0,0,0,0,0,6734,1172400
17,SHOP002,637,220,220,220,220,220,220,160,160,...,1700,900,0,0,0,0,0,0,8551,1415750
18,SHOP114,513,220,220,220,220,220,220,160,160,...,3200,1800,0,0,840,0,0,0,7314,1115960
19,SHOP087,527,220,220,220,220,220,220,150,160,...,1400,0,0,0,0,0,0,0,3463,580335
20,SHOP050,411,220,220,220,220,220,220,160,160,...,1500,500,0,0,0,0,0,0,7103,1245725
21,SHOP061,699,220,220,220,220,220,220,320,160,...,1000,2100,0,0,0,0,0,0,5730,959610
22,SHOP056,597,220,220,220,220,220,220,160,160,...,3400,1200,0,0,0,0,0,0,9817,1560470
23,SHOP070,676,220,220,220,220,220,220,160,160,...,2200,1100,0,0,840,0,0,0,4625,797970

In [61]:
stores3.to_csv('Testing-data.csv')